<!DOCTYPE html>
<html lang="en" ng-app="AdminApp">
<head>
<title>Admin后台</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/bootstrap.min_1.css" />
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../css/datepicker.css" />
<link rel="stylesheet" href="../css/uniform.css" />
<link rel="stylesheet" href="../css/select2_1.css" />
<link rel="stylesheet" href="../css/maruti-style_1.css" />
<link rel="stylesheet" href="../css/maruti-media_1.css" class="skin-color" />
<link rel="stylesheet" type="text/css" href="../css/newstyle_1.css" />
    <style type="text/css">
        #preview1{width:150px;height:150px;overflow:hidden;}
        #imghead1 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
        #preview{width:150px;height:150px;overflow:hidden;}
        #imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
    </style>
</head>

<body ng-controller="adminCtrl">
<div id="warp">
<!--Header-part-->
<div id="header">
  <h1>Admin后台</h1>
</div>
<!--close-Header-part-->
<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse" >
  <ul class="nav">
  	<li style="color:white;vertical-align:middle; margin-top: 15px;"><span class="text">你好，{{nickName}}</span></li>
    <li class=""><a title="" href="../login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i>运营后台</a>
    <ul>
        <li id="li_active_1"><a href="#main" ng-click="active(1)"><i class="icon icon-home"></i> <span>设备管理</span></a> </li>
        <li id="li_active_2"> <a href="#driveData" ng-click="active(2)"><i class="icon icon-signal"></i> <span>行车数据</span></a> </li>
        <li id="li_active_3"> <a href="#customer4s" ng-click="active(3)"><i class="icon icon-inbox"></i> <span>4S客户</span></a> </li>
        <li id="li_active_4"><a href="#carOwners" ng-click="active(4)"><i class="icon icon-th"></i> <span>车主</span></a></li>
        <li id="li_active_5"><a href="#userManage" ng-click="active(5)"><i class="icon icon-fullscreen"></i> <span>系统用户</span></a></li>
        <li id="li_active_6"> <a href="#knowledgeBase" ng-click="active(6)"><i class="icon icon-th-list"></i> <span>行车手册</span></a></li>
        <li id="li_active_7"> <a href="#paramSetting" ng-click="active(7)"><i class="icon icon-th-list"></i><span>参数设置</span></a></li>
    </ul>
</div>
    <div id="content"ng-view="">
   </div>
</div>
  <div id="footer" class="span12"> 2014 &copy; 英卡</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery.form.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/jquery.ui.custom.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/maruti.js"></script>

<script src="../js/angular.min.js"></script>
<script src="../js/fun_js/common.js"></script>
<script src="../js/angular-resource.min.js"></script>
<script src="../js/angular-sanitize.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/fun_js/adminApp.js"></script>
<script src="../js/fun_js/deviceController.js"></script>
<script src="../js/fun_js/drivedataController.js"></script>
<script src="../js/fun_js/carownerController.js"></script>
<script src="../js/fun_js/customerController.js"></script>
<script src="../js/fun_js/userController.js"></script>
<script src="../js/fun_js/knowledgeController.js"></script>
<script src="../js/fun_js/S_paramController.js"></script>
<script src="../js/sha1.js"></script>
</body>
</html>
