<div id="content">
  <div id="content-header">
      <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a> <a href="#" class="current">车主</a> </div>
  </div>
  <div class="container-fluid">
  	<div class="row-fluid" >
      <div class="span12">
          <!--修改车主信息 start-->
          <div class="widget-box" ng-show="carOwnerModifyDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>修改车主信息</h5>
              </div>
              <div class="widget-content nopadding">
                  <form action="#" method="get" class="form-horizontal">
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">帐号：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="carOwnerDetail.acc_name"  disabled />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车主姓名：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="carOwnerDetail.acc_nick" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车主电话：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="carOwnerDetail.acc_phone" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">所属4S店：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="carOwnerDetail.org_name" disabled />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">OBD编号：</label>
                          <div class="controls">
                              <input type="text" class="span11"  disabled style="width:200px;" ng-model="carOwnerDetail.obd_code"  />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车牌号：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="carOwnerDetail.car_license" disabled/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车型：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="carOwnerDetail.car_brand" disabled />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车款：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="carOwnerDetail.car_series" disabled />
                          </div>
                      </div>
                      <div class="form-actions">
                          <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="ModifyConfirm();">保存</button>
                          <button type="button" class="btn btn-danger"   ng-click="gotoBack(1)">取消</button>
                      </div>
                  </form>
              </div>
          </div>
          <!--修改车主信息 end-->
          <!--添加车主 start-->
          <div class="widget-box" ng-show="carOwnerAddDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>添加车主</h5>
              </div>
              <div class="widget-content nopadding">
                  <form action="#" method="get" class="form-horizontal">
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">帐号：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="acc_name"  />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">密码：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="acc_pwd"  />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车主姓名：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="acc_nick" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车主电话：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="acc_phone" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">所属4S店：</label>
                          <div class="controls">
                              <select style="width:150px;" ng-model="org_id" ng-options="to.id as to.name for to in org">
                                  <option>请选择</option>
                              </select>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">OBD编号：</label>
                          <div class="controls">
                              <input type="text" class="span11"  style="width:200px;" ng-model="obd_code"  />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车牌号：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="car_license"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车型：</label>
                          <div class="controls">
                              <select style="width:150px;" ng-model="brand_id" ng-options = "brand.id as brand.name for brand in carBrand" ng-change="changeSeries(brand_id)">
                                  <option>请选择</option>
                              </select>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">车款：</label>
                          <div class="controls">
                              <select style="width:150px;" ng-model="series_id" ng-options="series.id as series.name for series in carSeries">
                                  <option>请选择</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-actions">
                          <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="AddConfirm();">保存</button>
                          <button type="button" class="btn btn-danger"   ng-click="gotoBack(2)">取消</button>
                      </div>
                  </form>
              </div>
          </div>
          <!--添加 end-->
          <!--一个OBD行车数据详情 start-->
          <div class="widget-box" ng-show="detailDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>行车数据</h5>
                  <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="gotoBack(4)" >返回</a>
              </div>
              <div class="widget-content nopadding">
                  <table class="table table-bordered ">
                      <thead>
                      <tr>
                          <th>OBD编号</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.obdNum}}</th>
                          <th>SIM卡号</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.sim_number}}</th>
                          <th>状态</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.act_type}}</th>
                      </tr>
                      <tr>
                          <th>所属4S店</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.org_name}}</th>
                          <th>品牌</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.brand}}</th>
                          <th>车款</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.series}}</th>
                      </tr>
                      <tr>
                          <th>城市</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.org_city}}</th>
                          <th>车主</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.nick}}</th>
                          <th>联系电话</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.phone}}</th>
                      </tr>
                      </thead>
                  </table>
              </div>
              <div class="widget-content nopadding">
                  <!--<table class="table table-bordered data-table">-->
                  <table class="table table-bordered">
                      <thead>
                      <tr>
                          <th>城市</th>
                          <th>4S店</th>
                          <th>品牌</th>
                          <th>车系</th>
                          <th>OBD编号</th>
                          <th>WIN码</th>
                          <th>点火时间</th>
                          <th>行驶里程</th>
                          <th>状态</th>
                          <th>操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="gradeX" ng-repeat="device in drvInfos">
                          <td id="tdc">{{device.s4_city}}</td>
                          <td id="tdc">{{device.s4_name}}</td>
                          <td id="tdc">{{device.brand_name}}</td>
                          <td id="tdc">{{device.series_name}}</td>
                          <td id="tdc">{{device.obdCode}}</td>
                          <td id="tdc">{{device.vin}}</td>
                          <td id="tdc">{{device.fireTime}}</td>
                          <td id="tdc">{{device.currentMileage}}</td>
                          <td id="tdc">{{device.carStatus}}</td>
                          <td id="tdc">
                              <a class="btn btn-info btn-mini" ng-click="GetDriveDetail(device.obdCode,device.id,$index);">查看</a>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <div class="pagination alternate" style="float:right;">
                  共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
                  跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,2);">
                  <option>1</option>
              </select>页
              </div>
          </div>
          <!--一个OBD行车数据详情 end-->
          <!--一次行车数据详情 start-->
          <div class="widget-box" ng-show="oneDetailDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>行程数据</h5>
                  <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="gotoBack(3)" >返回</a>
              </div>
              <div class="widget-content nopadding">
                  <table class="table table-bordered ">
                      <thead>
                      <tr>
                          <th>车主姓名</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.city}}</th>
                          <th>4S店</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.s4_name}}</th>
                          <th>品牌</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.brand_name}}</th>
                      </tr>
                      <tr>
                          <th>车系</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.series_name}}</th>
                          <th>车主</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.nick}}</th>
                          <th>联系电话</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.phone}}</th>
                      </tr>
                      <tr>
                          <th>OBD编号</th>
                          <th style="background-color:#F9F9F9;">{{chooseOC}}</th>
                          <th>SIM卡号</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.sim_number}}</th>
                          <th colspan="2"></th>
                      </tr>
                      <tr>
                          <th>VIN码</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.vin}}</th>
                          <th>状态</th>
                          <th style="background-color:#F9F9F9;">{{deviceDetail.act_type_name}}</th>
                          <th>点火时间</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.fireTime}}</th>
                      </tr>
                      <tr>
                          <th>点火电压</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.firingVoltage}}</th>
                          <th>发动机运行时间</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.runTime}}</th>
                          <th>本次平均油耗</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.currentAvgOilUsed}}</th>
                      </tr>
                      <tr>
                          <th>急加速次数</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.speedUp}}</th>
                          <th>急减数次数</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.speedDown}}</th>
                          <th>急转弯次数</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.sharpTurn}}</th>
                      </tr>
                      <tr>
                          <th>熄火电压</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.flameOutVoltage}}</th>
                          <th>累计平均油耗</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.avgOilUsed}}</th>
                          <th>累计行驶里程</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.mileage}}</th>
                      </tr>
                      <tr>
                          <th>0速段里程</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.speedGroup[0].time}}秒，{{driveDetail.speedGroup[0].distance}}米</th>
                          <th>0-80速段里程</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.speedGroup[1].time}}秒，{{driveDetail.speedGroup[1].distance}}米</th>
                          <th>80-160速段里程</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.speedGroup[2].time}}秒，{{driveDetail.speedGroup[2].distance}}米</th>
                      </tr>
                      <tr>
                          <th>熄火时间</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.flameOutTime}}</th>
                          <th>熄火后电压</th>
                          <th style="background-color:#F9F9F9;">{{driveDetail.flameOutVoltage}}</th>
                          <th></th>
                          <th style="background-color:#F9F9F9;"></th>
                      </tr>
                      </thead>
                  </table>
              </div>
              <div class="widget-content nopadding">
                  <!--<table class="table table-bordered data-table">-->
                  <table class="table table-bordered">
                      <thead>
                      <tr >
                          <th>OBD设备编号</th>
                          <th>行驶编号</th>
                        <!--  <th>行驶里程</th>-->
                          <th>创建时间</th>
                          <th>操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="gradeX" ng-repeat="device in details">
                          <td id="tdc">{{device.obdCode}}</td>
                          <td id="tdc">{{device.id}}</td>
                        <!--  <td id="tdc">{{device.mileage}}</td>-->
                          <td id="tdc">{{device.createTime}}</td>
                          <td id="tdc"><a class="btn btn-info btn-mini" ng-click="GetOneMinuteDetail($index);">详细数据</a></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <div class="pagination alternate" style="float:right;">
                  共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
                  跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,3);">
                  <option>1</option>
              </select>页
              </div>
          </div>
          <!--一次行车数据详情 end-->
          <!--一分钟行车数据详情 start-->
          <div class="widget-box" ng-show="oneMinuteDetailDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>数据流记录</h5>
                  <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="gotoBack(5)" >返回</a>
              </div>
              <div class="widget-content nopadding">
                  <!--<table class="table table-bordered data-table">-->
                  <table class="table table-bordered">
                      <thead>
                      <tr >
                          <th>ID</th>
                          <th>参数</th>
                          <th>值</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="gradeX" ng-repeat="omdd in omdds">
                          <td id="tdc">{{omdd.id}}</td>
                          <td id="tdc">{{omdd.tip}}</td>
                          <td id="tdc">{{omdd.value}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <!--一分钟行车数据详情 end-->
          <!--车主信息列表 begin-->
        <div class="widget-box" ng-show="carOwnerDiv">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>车主列表</h5>
              <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="add();">+添加车主</a>
          </div>
            <div class="widget-content nopadding">
                <!--<table class="table table-bordered data-table">-->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;城市：&nbsp;&nbsp;
                            <select style="width:150px;padding-left:15px;" ng-model="city_name" ng-options="to.name as to.name for to in allCity">
                            <option>请选择</option>
                           </select></th>
                        <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4S店：&nbsp;&nbsp;
                            <select style="width:150px;" ng-model="s4_id" ng-options="s4.id as s4.name for s4 in s4s">
                                <option>请选择</option>
                            </select></th>
                        <th style="vertical-align: middle;">品牌：&nbsp;&nbsp;&nbsp;
                            <select style="width:150px;"  ng-model="brandCode" ng-options = "brand.brandCode as brand.brand for brand in carBrand" ng-change="changeBrand(brandCode)">
                                <option>请选择</option>
                            </select></th>
                        <th  style="vertical-align: middle;" rowspan="2"><a class="btn btn-success" style="" ng-click="SearchDriveInfo();">搜索</a></th>
                    </tr>
                    <tr>
                        <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车主姓名：
                            <input type="text"  style="width:150px;" placeholder="" ng-model="queryNick"/></th>
                        <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系电话：
                            <input type="text"  style="width:150px;" placeholder="" ng-model="queryPhone"/></th>
                        <th style="vertical-align: middle;">车牌号：&nbsp;&nbsp;&nbsp;
                            <input type="text"  style="width:150px;" placeholder="" ng-model="car_license"/></th>
                            </th>
                    </tr>
                    </thead>
                </table>
            </div>
          <div class="widget-content nopadding">
            <!--<table class="table table-bordered data-table">-->
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>帐号</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>4S店</th>
                    <th>OBD编号</th>
                    <th>车牌号</th>
                    <th>车型</th>
                    <th>车款</th>
                    <th>操作</th>
                </tr>
              </thead>
              <tbody id="productListBody">
                <tr class="gradeX" ng-repeat="carowner in carowners">
                    <td style="text-align: center">{{carowner.acc_name}}</td>
                    <td style="text-align: center">{{carowner.acc_nick}}</td>
                    <td style="text-align: center">{{carowner.acc_phone}}</td>
                    <td style="text-align: center">{{carowner.org_name}}</td>
                    <td style="text-align: center">{{carowner.obd_code}}</td>
                    <td style="text-align: center">{{carowner.car_license}}</td>
                    <td style="text-align: center">{{carowner.car_brand}}</td>
                    <td style="text-align: center">{{carowner.car_series}}</td>
                    <td style="text-align: center">
                        <a class="btn btn-success btn-info btn-mini" ng-click="modify($index);">修改</a>
                        <a class="btn btn-danger btn-info btn-mini" ng-click="GetDriveInfo(carowner.obd_code);">查看</a>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
            <div><font color="red">{{tips}}</font></div>
            <div class="pagination alternate" style="float:right;">
                共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
                跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,1);">
                <option>1</option>
            </select>页
            </div>
        </div>
      </div>
   </div>
</div>
</div>