<div id="content">
  <div id="content-header">
      <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a> <a href="#" class="">4S客户</a> </div>
  </div>
  	<div class="row-fluid" id="addDevice">
    <!--mainbox01 start--><div class="mainbox01" >
      <div class="span12">
          <!--添加4S客户 start-->
          <div class="widget-box" ng-show="customerAddDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>添加4S客户</h5>
              </div>
              <div class="widget-content nopadding">
                  <form action="#" method="get" class="form-horizontal">
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">4S店名：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;"  ng-model="comName" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">帐号：</label>
                          <div class="controls">
                              <input type="text" class="span11" ng-model="account" style="width:200px;" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">密码：</label>
                          <div class="controls">
                              <input type="text" class="span11" ng-model="password" style="width:200px;" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">登录后缀名：</label>
                          <div class="controls">
                              <input type="text" class="span11" ng-model="short_name" style="width:200px;" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">城市：</label>
                          <div class="controls">
                              <input type="text" class="span11" ng-model="city"  style="width:200px;" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">经营品牌：</label>
                          <div class="controls">
                              <select style="width:150px;" ng-model="brand_id" ng-options = "brand.brandCode as brand.brand for brand in carBrand" >
                                  <option>请选择</option>
                              </select>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">微信服务号：</label>
                          <div class="controls">
                              <input type="text" class="span11" ng-model="openid"  style="width:200px;" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">联系人：</label>
                          <div class="controls">
                              <input type="text" class="span11"  style="width:200px;" ng-model="admin_nick" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">联系电话：</label>
                          <div class="controls">
                              <input type="text" class="span11"  style="width:200px;"  ng-model="admin_phone"/>
                          </div>
                      </div>
                      <div class="form-actions">
                          <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="addConfirm();">确定</button>
                          <button type="button" class="btn btn-danger"   ng-click="gotoBack(2);">取消</button>
                      </div>
                  </form>
              </div>
          </div>
          <!--添加4S客户 end-->
          <!--修改4S客户 start-->
          <div class="widget-box" ng-show="customerModifyDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>修改4S客户</h5>
              </div>
              <div class="widget-content nopadding">
                  <form action="#" method="get" class="form-horizontal">
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">4S店名：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="oneCustomerInfo.name"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">帐号：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" disabled  ng-model="oneCustomerInfo.admin_name"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">登录后缀名：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;"   ng-model="oneCustomerInfo.short_name"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">经营品牌：</label>
                          <div class="controls">
                              <select style="width:150px;" ng-model="oneCustomerInfo.brand" ng-options = "brand.brandCode as brand.brand for brand in carBrand" >
                                  <option>请选择</option>
                              </select>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">城市：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" ng-model="oneCustomerInfo.city"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">微信服务号：</label>
                          <div class="controls">
                              <input type="text" class="span11"   style="width:200px;" ng-model="oneCustomerInfo.openid"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">联系人：</label>
                          <div class="controls">
                              <input type="text" class="span11"   style="width:200px;" ng-model="oneCustomerInfo.admin_nick"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">联系电话：</label>
                          <div class="controls">
                              <input type="text" class="span11"  style="width:200px;" ng-model="oneCustomerInfo.admin_phone"/>
                          </div>
                      </div>
                      <div class="form-actions">
                          <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="modifyConfirm(oneCustomerInfo);">确定</button>
                          <button type="button" class="btn btn-danger"   ng-click="gotoBack(1);">取消</button>
                      </div>
                  </form>
              </div>
          </div>
          <!--修改4S客户 end-->
        <!--4S客户列表 begin-->
        <div class="widget-box margin_16" ng-show="customerListDiv">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>4S客户列表{{tempTest}}</h5>
              <button class="btn btn-success" style="float:right;margin:12px 30px 0 0;" ng-click="add();">+添加4s店</button>
          </div>
            <div class="widget-content nopadding table_widget_bg">
                <!--<table class="table table-bordered data-table">-->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;城市： &nbsp;&nbsp;&nbsp;
                            <select style="width:150px;padding-left:15px;" ng-model="city_name" ng-options="to.name as to.name for to in allCity">
                                <option>请选择</option>
                            </select></th>
                        <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4S店：&nbsp;&nbsp;&nbsp;
                            <select style="width:150px;" ng-model="s4_name" ng-options="s4.name as s4.name for s4 in s4s_all">
                                <option>请选择</option>
                            </select></th>
                        <th style="vertical-align: middle" ><button type="submit" class="btn btn-success" ng-click="SearchDriveInfo();">搜索</button></th>
                    </tr>
                    </thead>
                </table>
            </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered">
              <thead>
                <tr class="bgcolor01">
                    <th>4S店名</th>
                    <th>帐号</th>
                    <th>城市</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>服务号</th>
                    <th>操作</th>
                </tr>
              </thead>
              <tbody id="productListBody">
                <tr class="gradeX" ng-repeat="customer in s4s">
                    <td style="text-align: center">{{customer.name}}</td>
                    <td style="text-align: center">{{customer.admin_name}}</td>
                    <td style="text-align: center">{{customer.city}}</td>
                    <td style="text-align: center">{{customer.admin_nick}}</td>
                    <td style="text-align: center">{{customer.admin_phone}}</td>
                    <td style="text-align: center">{{customer.openid}}</td>
                    <td style="text-align: center">
                        <a class="btn btn-info btn-mini" ng-click="modify($index);">修改</a>
                   <!-- <a class="btn btn-info btn-mini" ng-click="findDetail(customer.id);">查看</a>-->
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
            <div><font color="red">{{tips}}</font></div>
            <div class="pagination alternate" style="float:right;">
                共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
                跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId);">
                <option>1</option>
            </select>页
            </div>
        </div>
       <!--4S客户列表 end-->
      </div>
   </div>
</div>
</div>
