<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a> <a href="deviceManage.html" class="">设备管理</a> </div>
</div>
<div class="row-fluid" >
<!--mainbox01 start--><div class="mainbox01" >
<!--设备添加 start-->
<div class="widget-box" ng-show="addDiv">
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>设备添加</h5>
</div>
<div class="widget-content" >
    <form class="form-horizontal formstyle_box03">
        <div class="control-group w_44 fl" >
            <label class="control-label pad_l20 w_100">OBD编号：</label>
            <div class="controls pad_t_b_10">
                <input type="text" class="span11"  ng-model="obd_code" style="width:300px;"/>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--button_box01 start-->
        <div class="button_box01">
            <button type="button" style="margin-right:40px;"  class="btn btn-large btn-success" ng-click="addDevice();">确&nbsp;&nbsp;定</button>
            <button type="button"  class="btn btn-large btn-danger"   ng-click="gotoBack(1)">取&nbsp;&nbsp;消</button>
        </div><!--button_box01 start-->
    </form>
</div>
</div>
<!--设备添加 end-->
<!--修改SIM卡号start-->
<div class="widget-box" ng-show="modifySim">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>修改SIM卡号</h5>
    </div>
    <div class="widget-content">
        <form class="form-horizontal formstyle_box02">
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">OBD编号：</label>
                <div class="controls pad_t_b_10">
                    <input type="text"  class="span11" disabled ng-model="deviceDetail.obd_code" style="width:260px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">SIM卡号：</label>
                <div class="controls pad_t_b_10">
                    <input type="text"  class="span11"  ng-model="deviceDetail.sim_number" style="width:260px;" />
                </div>
            </div>

            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">状态：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11" disabled ng-model="deviceDetail.act_type_name" style="width:260px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">所属4S店：</label>
                <div class="controls pad_t_b_10">
                    <select style="width:260px;" class="span11" ng-model="deviceDetail.s4_id" ng-options="s4.id as s4.name for s4 in s4s_all">
                        <option>请选择</option>
                    </select>
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">车主：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11" disabled ng-model="deviceDetail.cust_name"  style="width:260px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">品牌：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11" disabled ng-model="deviceDetail.brand_name"  style="width:260px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">车款：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11" disabled ng-model="deviceDetail.series_name" style="width:260px;"  />
                </div>
            </div>

            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">城市：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11" disabled ng-model="deviceDetail.s4_city" style="width:260px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">联系电话：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11" disabled ng-model="deviceDetail.cust_phone" style="width:260px;"/>
                </div>
            </div>
            <div class="clearfix"></div>
            <!--button_box01 start-->
            <div class="button_box01">
                <button type="button" style="margin-right:40px;"  class="btn btn-large btn-success" ng-click="ModifyConfrim(deviceDetail.sim_number,deviceDetail.obd_code);">确&nbsp;&nbsp;定</button>
                <button type="button"  class="btn btn-large btn-danger"   ng-click="gotoBack(2)">取&nbsp;&nbsp;消</button>
            </div><!--button_box01 start-->
        </form>
    </div>
</div>
<!--修改SIM卡号 end-->
<!--一个OBD行车数据详情 start-->
<div class="widget-box" ng-show="detailDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>行车数据</h5>
        <button class="btn btn-success" style="float:right;margin:12px 30px 0 0;" ng-click="gotoBack(4)" >返回</button>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th class="tablestyle-01">OBD编号</th>
                <th class="tablestyle-02">{{deviceDetail.obdNum}}</th>
                <th class="tablestyle-01">SIM卡号</th>
                <th class="tablestyle-02">{{deviceDetail.sim_number}}</th>
                <th class="tablestyle-01">状态</th>
                <th class="tablestyle-02">{{deviceDetail.act_type}}</th>
                <th class="tablestyle-01">所属4S店</th>
                <th class="tablestyle-02">{{deviceDetail.s4_name}}</th>
            </tr>
            <tr>

                <th class="tablestyle-01">品牌</th>
                <th class="tablestyle-02">{{deviceDetail.brand_name}}</th>
                <th class="tablestyle-01">车款</th>
                <th class="tablestyle-02">{{deviceDetail.series_name}}</th>
                <th class="tablestyle-01">城市</th>
                <th class="tablestyle-02">{{deviceDetail.s4_city}}</th>
                <th class="tablestyle-01">车主</th>
                <th class="tablestyle-02">{{deviceDetail.cust_name}}</th>
            </tr>
            <tr>
                <th class="tablestyle-01">联系电话</th>
                <th class="tablestyle-02">{{deviceDetail.cust_phone}}</th>
                <th class="tablestyle-01"></th>
                <th class="tablestyle-02"></th>
                <th class="tablestyle-01"></th>
                <th class="tablestyle-02"></th>
                <th class="tablestyle-01"></th>
                <th class="tablestyle-02"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="widget-content nopadding mar_t_14">
        <table class="table table-bordered">
            <thead>
            <tr class="bgcolor01">
                <th>城市</th>
                <th>4S店</th>
                <th>品牌</th>
                <th>车系</th>
                <th>OBD编号</th>
                <th>VIN码</th>
                <th>点火时间</th>
                <th>本次行驶里程(km)</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" ng-repeat="device in drvInfos">
                <td id="tdc">{{device.s4_city}}</td>
                <td id="tdc">{{device.s4_name}}</td>
                <td id="tdc">{{device.brand_name}}</td>
                <td id="tdc">{{device.series_name}}</td>
                <td id="tdc">{{device.obdCode}}</td>
                <td id="tdc">{{device.vin}}</td>
                <td id="tdc">{{device.fireTime}}</td>
                <td id="tdc">{{device.currentMileage/1000}}</td>
                <td id="tdc">{{device.carStatus}}</td>
                <td id="tdc">
                    <a class="btn btn-info btn-mini" ng-click="GetDriveDetail(device.obdCode,device.id,$index);">查看</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div><font color="red">{{tips}}</font></div>
    <div class="pagination alternate" style="float:right;">
        共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
        跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,2);">
        <option>1</option>
    </select>页
    </div>
    <div class="clearfix"></div>
</div>
<!--一个OBD行车数据详情 end-->
<!--一次行车数据详情 start-->
<div class="widget-box" ng-show="oneDetailDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>行程数据</h5>
        <button class="btn btn-success" style="float:right;margin:12px 30px 0 0;" ng-click="gotoBack(3)" >返回</button>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th class="tablestyle-01">城市</th>
                <th class="tablestyle-02">{{deviceDetail.s4_city}}</th>
                <th class="tablestyle-01">4S店</th>
                <th class="tablestyle-02">{{driveDetail.s4_name}}</th>
                <th class="tablestyle-01">品牌</th>
                <th class="tablestyle-02">{{deviceDetail.brand_name}}</th>
                <th class="tablestyle-01">车系</th>
                <th class="tablestyle-02">{{deviceDetail.series_name}}</th>
            </tr>
            <tr>

                <th class="tablestyle-01">车主</th>
                <th class="tablestyle-02">{{deviceDetail.cust_name}}</th>
                <th class="tablestyle-01">联系电话</th>
                <th class="tablestyle-02">{{deviceDetail.cust_phone}}</th>
                <th class="tablestyle-01">OBD编号</th>
                <th class="tablestyle-02">{{chooseOC}}</th>
                <th class="tablestyle-01">SIM卡号</th>
                <th class="tablestyle-02">{{deviceDetail.sim_number}}</th>
            </tr>

            <tr>
                <th class="tablestyle-01">VIN码</th>
                <th class="tablestyle-02">{{driveDetail.vin}}</th>
                <th class="tablestyle-01">状态</th>
                <th class="tablestyle-02">{{deviceDetail.act_type_name}}</th>
                <th class="tablestyle-01">点火时间</th>
                <th class="tablestyle-02">{{driveDetail.fireTime}}</th>
                <th class="tablestyle-01">点火电压</th>
                <th class="tablestyle-02">{{driveDetail.firingVoltage}}</th>
            </tr>
            <tr>

                <th class="tablestyle-01">发动机运行时间</th>
                <th class="tablestyle-02">{{driveDetail.runTime}}</th>
                <th class="tablestyle-01">本次平均油耗</th>
                <th class="tablestyle-02">{{driveDetail.currentAvgOilUsed/100}}升/百公里</th>
                <th class="tablestyle-01">急加速次数</th>
                <th class="tablestyle-02">{{driveDetail.speedUp}}</th>
                <th class="tablestyle-01">急减数次数</th>
                <th class="tablestyle-02">{{driveDetail.speedDown}}</th>
            </tr>
            <tr>
                <th class="tablestyle-01">急转弯次数</th>
                <th class="tablestyle-02">{{driveDetail.sharpTurn}}</th>
                <th class="tablestyle-01">熄火电压</th>
                <th class="tablestyle-02">{{driveDetail.flameOutVoltage}}</th>
                <th class="tablestyle-01">累计平均油耗</th>
                <th class="tablestyle-02">{{driveDetail.avgOilUsed/100}}升/百公里</th>
                <th class="tablestyle-01">累计行驶里程</th>
                <th class="tablestyle-02">{{driveDetail.currentMileage}}</th>
            </tr>
            <tr>
                <th class="tablestyle-01">1速段里程</th>
                <th class="tablestyle-02">{{driveDetail.speedGroup[0].time}}秒，{{driveDetail.speedGroup[0].distance}}米</th>
                <th class="tablestyle-01">1-45速段里程</th>
                <th class="tablestyle-02">{{driveDetail.speedGroup[1].time}}秒，{{driveDetail.speedGroup[1].distance}}米</th>
                <th class="tablestyle-01">45-90速段里程</th>
                <th class="tablestyle-02">{{driveDetail.speedGroup[2].time}}秒，{{driveDetail.speedGroup[2].distance}}米</th>
                <th class="tablestyle-01">90以上速段里程</th>
                <th class="tablestyle-02">{{driveDetail.speedGroup[3].time}}秒，{{driveDetail.speedGroup[3].distance}}米</th>
            </tr>
            <tr>
                <th class="tablestyle-01">熄火时间</th>
                <th class="tablestyle-02">{{driveDetail.flameOutTime}}</th>
                <th class="tablestyle-01">熄火后电压</th>
                <th class="tablestyle-02">{{driveDetail.flameOutVoltage}}</th>
                <th class="tablestyle-01"></th>
                <th class="tablestyle-02"></th>
                <th class="tablestyle-01"></th>
                <th class="tablestyle-02"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="widget-content nopadding mar_t_14">
        <table class="table table-bordered">
            <thead>
            <tr class="bgcolor01">
                <th>OBD设备编号</th>
                <th>行驶编号</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" ng-repeat="device in details">
                <td id="tdc">{{device.obdCode}}</td>
                <td id="tdc">{{device.id}}</td>
                <td id="tdc">{{device.createTime}}</td>
                <td id="tdc"><a class="btn btn-info btn-mini" ng-click="GetOneMinuteDetail($index);">详细数据</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div><font color="red">{{tips}}</font></div>
    <div class="pagination alternate" style="float:right;">
        共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
        跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,3);">
        <option>1</option>
      </select>页
    </div>
    <div class="clearfix"></div>
</div>
<!--一次行车数据详情 end-->
<!--一分钟行车数据详情 start-->
<div class="widget-box" ng-show="oneMinuteDetailDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>数据流记录</h5>
        <button class="btn btn-success" style="float:right;margin:12px 30px 0 0;" ng-click="gotoBack(5)" >返回</button>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered">
            <thead>
            <tr class="bgcolor01">
                <th>ID</th>
                <th>参数</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" ng-repeat="omdd in omdds">
                <td id="tdc">{{omdd.id}}</td>
                <td id="tdc">{{omdd.tip}}</td>
                <td id="tdc">{{omdd.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--一分钟行车数据详情 end-->
<!--设备列表 start-->
<div class="widget-box" ng-show="deviceList" >
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>设备列表</h5>
        <button class="btn btn-success" style="float:right;margin:12px 30px 0 0;" ng-click="add();" >+添加设备</button>
    </div>
    <div class="widget-content nopadding table_widget_bg_tr">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="vertical-align: middle;">OBD编号：&nbsp;&nbsp;
                    <input type="text"  style="width:150px;" placeholder="" ng-model="ser_obdCode"/></th>
                <th style="vertical-align: middle;">状态：&nbsp;&nbsp;
                    <select style="width:150px;"  ng-model="act_id" ng-options="act.id as act.name for act in act_status">
                    </select></th>
                <th style="vertical-align: middle;">SIM卡号：&nbsp;&nbsp;&nbsp;
                    <input type="text"  style="width:150px;" placeholder="" ng-model="ser_simNum"/></th>
            </tr>
            <tr>
                <th style="vertical-align: middle;">添加日期段：
                    <input type="text"  style="width:150px;" placeholder="开始日期" ng-model="ser_addTimeB" />-<input type="text" style="width:150px;" ng-model="ser_addTimeE" placeholder="结束日期" /></th>
                <th style="vertical-align: middle;">激活日期段：
                    <input type="text"  style="width:150px;" placeholder="开始日期" ng-model="ser_actTimeB" />-<input type="text" style="width:150px;" ng-model="ser_actTimeE" placeholder="结束日期" /></th>
                <th  style="vertical-align: middle;" rowspan="2"><button class="btn btn-success" style="" ng-click="SearchDriveInfo();">搜索</button></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered ">
            <thead>
            <tr class="bgcolor01">
                <th>OBD编号</th>
                <th>SIM卡号</th>
                <th>状态</th>
                <th>添加日期</th>
                <th>激活日期</th>
                <th>归属4S店</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody ng-repeat="device in devices">
            <tr class="gradeX" >
                <td style="text-align: center">{{device.obd_code}}</td>
                <td style="text-align: center">{{device.sim_number}}</td>
                <td style="text-align: center">{{device.act_type}}</td>
                <td style="text-align: center">{{device.created_date}}</td>
                <td style="text-align: center">{{device.act_time}}</td>
                <td style="text-align: center">{{device.s4_name}}</td>
                <td style="text-align: center">
                    <a class="btn btn-info btn-mini" ng-click="GetDriveInfo(device.obd_code);">查看</a>
                    <a class="btn btn-warning btn-mini" ng-click="modify($index);">修改</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div><font color="red">{{tips}}</font></div>
    <div class="pagination alternate" style="float:right;">
        共{{totalCount}}条&nbsp;页码{{currentPage}}/{{totalPage}} &nbsp;
        跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,1);">
            <option>1</option>
          </select>页
    </div>
    <div class="clearfix"></div>
</div>
<!--设备列表 end-->
</div> <!--mainbox01 end-->
</div>