<div id="content">
  <div id="content-header">
      <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a> <a href="#" class="current">知识库</a> </div>
  </div>
  <div class="container-fluid">
  	<div class="row-fluid" >
      <div class="span12">
          <!--修改词条 start-->
          <div class="widget-box" ng-show="modifyKnowledgeDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>修改词条</h5>
              </div>
              <div class="widget-content nopadding">
                 <form action="/wservice/upload" id="formId_edit2"  method="post"  class="form-horizontal" enctype="multipart/form-data">
                  <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">关键字：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" name="keyword" ng-model="knowDetail.keyword"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">标题：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" name="title" ng-model="knowDetail.title"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">描述：</label>
                          <div class="controls">
                              <textarea ng-model="knowDetail.description" name="description"></textarea>
                          </div>
                      </div>
                      <!--<div class="control-group">-->
                          <!--<label class="control-label" style="margin-left:300px;">图文图片：</label>-->
                          <!--<div class="controls" >-->
                             <!--<img src="{{knowDetail.filename}}" width="200px;" height="200px;" style="width:200px;height:200px;"/><input type="file" id="edit_pro_img" name="pro_img" onchange="clickFileName('edit_pro_img')"/>-->
                          <!--</div>-->
                      <!--</div>-->
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">图文图片：</label>
                          <div class="controls">
                              <input type="file" id="edit_pro_img" name="edit_pro_img"   onchange="changeImg(this,'edit_pro_img','formId_edit2','preview','imghead')"/>
                          </div>
                          <div style="margin-left:480px;"> </div>
                          <div style="margin-left:480px;" style="float: left;" id="preview">
                              <img src="../../{{knowDetail.filename}}" id="imghead" style="width:150px;height:150px;" />
                          </div>
                      </div>
                      <div class="form-actions">
                          <button type="submit" class="btn btn-success"  style="margin-left:300px;" ng-click="ModifyConfirm();">保存</button>
                          <button type="button" class="btn btn-danger"   ng-click="gotoBack(1)">取消</button>
                      </div>
                  </form>
              </div>
          </div>
          <!--修改词条 end-->
          <!--添加词条 start-->
          <div class="widget-box" ng-show="addKnowledgeDiv">
              <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
                <h5>添加词条</h5>
              </div>
              <div class="widget-content nopadding" >
                  <form action="/wservice/upload" id="formId_edit3"  method="post"  class="form-horizontal" enctype="multipart/form-data">
                    <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">关键字：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" name="keyword" ng-model="keyword" />
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">标题：</label>
                          <div class="controls">
                              <input type="text" class="span11" style="width:200px;" name="title" ng-model="title"/>
                          </div>
                      </div>
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">描述：</label>
                          <div class="controls">
                              <textarea ng-model="description" name="description" ng-model="description"></textarea>
                          </div>
                      </div>
                      <!--<div class="control-group">-->
                         <!--<label class="control-label" style="margin-left:300px;">图文图片：</label>-->
                         <!--<div class="controls">-->
                              <!--<input type="file"  id="pro_img" name="pro_img" onchange="clickFileName('pro_img')" ng-model="filename" />-->
                        <!--</div>-->
                     <!--</div>-->
                      <div class="control-group" >
                          <label class="control-label" style="margin-left:300px;">图文图片：</label>
                          <div class="controls">
                              <input type="file" id="edit_pro_img_1" name="edit_pro_img_1"   onchange="changeImg(this,'edit_pro_img_1','formId_edit3','preview1','imghead1')" />
                          </div>
                          <div style="margin-left:480px;" style="float: left;" id="preview1">
                              <img src="../../data/200x200.jpg" id="imghead1" style="width:150px;height:150px;" />
                          </div>
                      </div>
                      <div class="form-actions">
                          <button type="submit" class="btn btn-success"  style="margin-left:300px;" ng-click="AddConfirm();" >保存</button>
                          <button type="button" class="btn btn-danger"   ng-click="gotoBack(2)">取消</button>
                      </div>
                  </form>
              </div>
          </div>
        <!--添加词条 end-->
        <!--知识库列表 begin-->
        <div class="widget-box" ng-show="knowledgeListDiv">
          <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>知识库列表</h5>
            <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="add();">+添加词条</a>
          </div>
          <div class="widget-content nopadding">
            <!--<table class="table table-bordered data-table">-->
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>关键字</th>
                    <th>标题</th>
                    <th>图文</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeX" ng-repeat="know in manual">
                    <td id="tdc">{{know.keyword}}</td>
                    <td id="tdc">{{know.title}}</td>
                    <td id="tdc"><img src="../../{{know.filename}}" style="height:200px;"></td>
                    <td id="tdc">{{know.description}}</td>
                    <td id="tdc">
                        <a class="btn btn-info btn-mini" ng-click="modify($index);">修改</a>
                        <a class="btn btn-danger btn-mini" ng-click="deleteRecord($index);">删除</a>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
            <div><font color="red">{{tips}}</font></div>
            <div class="pagination alternate" style="float:right;">
                共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
                跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId);">
                <option>1</option>
            </select>页
            </div>
        </div>
       <!--知识库列表 end-->
      </div>
   </div>
</div>
</div>
