@charset "utf-8";
body{
    /*background-image: url(../images/backgrounds/body_bg.png);*/
    background-color: #2E363F;


}
.w_70 {
	width: 70px;
}

.w_44 {
	width: 440px;
}

.w_160 {
	width: 200px;
}

.w_100 {
	width: 100px;
}
.w_390 {
	width: 390px;
}


.pad_t_b_10 {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.pad_t_40 {
	padding-top: 40px;
}

.pad_l_15 {
	padding-left: 15px;
}
.pad_l20 {
	padding-left: 20px;
}
.pad_46 {
	padding: 60px;
}
.pad_l_r_60 {
	padding-right: 60px;
	padding-left: 60px;
}
.pad_l_r_60 .home_columnbox {
	margin-right: 70px;
	margin-left: 70px;
    margin-top:60px;
}
.margin_16 {
	margin-top: 0px;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
}
.mar_t_14 {
	margin-top: 14px;
}
.mar_l_r_center {
	margin-right: auto;
	margin-left: auto;
}

.bor_r_b_l_no {
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.bor_r_no {
	border-right-width: 0px;
}
.bor_no {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}





.text_01 {
	line-height: 16px;
	color: #FFF;
	background-color: #85bb41;
	padding: 4px;
	width: 60px;
	text-align: center;
	margin-right: 5px;
}

.text_02 {
	line-height: 24px;
	width: 70px;
	padding-right: 5px;
}
.text_03 {
	line-height: 16px;
	color: #FFF;
	background-color: #85bb41;
	width: 71px;
	text-align: center;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.text_04 {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #666;
}





.sidebar_a {
	background-image: url(../img/sidebar_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 45px;
}
.sidebar_a h5 {
	color: #FFF;
}

.add_button{
    float:right;margin:12px 30px 0 0;
}
.sidebar_b {
	color: #666;
	height: 45px;
}


.bgcolor01 {
	background-color: #EEE;
}
.textbox01 {
	float: left;
	padding-left: 150px;
}
.formbox_01 {
	float: left;
	padding-top: 3px;
	height: 20px;
}
.row-fluid .right_bxo {
    background-image: url(../images/backgrounds/bodyBg.png);
    float: left;
    width: 88%;
    min-height:434px;
    _height:434px;
}
.row-fluid .left_box {
    /* [disabled]background-color: #FF0; */
    float: left;
    width: 12%;
}
#warp {
    background-image: url(../images/backgrounds/body_bg.png);
    margin: 0;
}
#home_contentbox {
    background-color: #DDDDDD;
    width: 999px;
    min-height:460px;
    _height:460px;
    margin: 0 auto;
    clear: both;
}
.home_columnbox {
	/* [disabled]background-color: #E9322D; */
	width: 273px;
	height: 160px;
	padding: 40px 30px 20px 30px;
	float: left;
}
.home_columnbox .home_column {
	background-color: #FFFFFF;
	width: 273px;
	height: 160px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	box-shadow: 1px 1px 3px #666666;
	-webkit-box-shadow: 1px 1px 3px #666666;
	-moz-box-shadow: 1px 1px 3px #666666;
	overflow: hidden;
}
.home_columnbox .home_column .datebox,.home_columnbox .home_column .iconbox {
	width: 81px;
	height: 76px;
	padding: 42px 0px;
	float: left;
 }
.home_columnbox .home_column .datebox {
	font-size:26px;
	line-height: 38px;
	text-align: center;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-weight: bold;
}
.home_columnbox .home_column .iconbox {
	background-repeat: no-repeat;
	background-position: center center;
}

.color_r {
    background-color: #DA4F49;
}
.color_y {
    background-color: #FAA732;
}
.color_b {
    background-color: #49AFCD;
}
.color_g {
    background-color: #5BB75B;
}
.menu_hl {
	background-color: #6da920;
}

.icon_01 {
    background-image: url("../img/icon_01.png");
}
.icon_02 {
    background-image: url("../img/icon_02.png");
}
.icon_03 {
    background-image: url("../img/icon_03.png");
}
.icon_04 {
    background-image: url("../img/icon_04.png");
}.home_columnbox .home_column .column_mainbox {
	/* [disabled]background-color: #099; */
	padding: 10px;
	float: left;
	height: 150px;
	width: 172px;
}
.home_columnbox .home_column .column_mainbox table {
	line-height: 26px;
	color: #999;
}
.home_columnbox .home_column .column_mainbox table .title {
	font-size: 16px;
	color: #666;
	/* [disabled]font-weight: bold; */
}
.formstyle_box01 {
	/* [disabled]background-color: #99F; */
	width: 870px;
	margin-right: auto;
	margin-left: auto;
}

.formstyle_box01 .mainleftbox,.formstyle_box01 .mainrightbox{
    float: left;
}

.formstyle_box01 .mainleftbox{
	width: 400px;
	/* [disabled]background-color: #d59392; */
 }

.formstyle_box01 .mainrightbox{
	width: 470px;
	/* [disabled]background-color: #df8505; */
}

.img_textstyle01 {
	font-size: 12px;
	color: #CCC;
	line-height: 28px;
	padding-top: 10px;
	padding-bottom: 4px;
	display: block;
}
.horizontal_content01 {
	/* [disabled]background-color: #CC9; */
	padding-bottom: 20px;
}
.button_box01 {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 220px;
	margin-right: auto;
	margin-left: auto;
}
#warp #content .row-fluid .mainbox01 {
	background-image: url(../images/backgrounds/bodyBg.png);
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	min-height:460px;
	_height:460px;
	padding: 10px;
}
.formstyle_box02 {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	/* [disabled]background-color: #F90; */
}
.formstyle_box03 {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	/* [disabled]background-color: #F90; */
}
.tablestyle-01 {
	background-color: #EFEFEF;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	text-align: right;
}

.tablestyle-02 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}

.tablestyle-03 {
	background-color: #EFEFEF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
}
.tablestyle-04 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
}

.formstyle_box04 {
	/* [disabled]background-color: #99F; */
	width: 570px;
	margin-right: auto;
	margin-left: auto;
}
.formstyle_box04 .mainleftbox, .formstyle_box04 .mainrightbox {
	float: left;
}

.formstyle_box04 .mainleftbox {
	width: 400px;
	/* [disabled]background-color: #d59392; */
}

.formstyle_box04 .mainrightbox {
	width: 170px;
	/* [disabled]background-color: #df8505; */
}
.tabbox01 {
	background-color: #CCC;
	border: 1px solid #999;
	padding: 8px;
}
.phone-bg {
	background-image: url(../img/phone-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 619px;
	width: 521px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 149px;
	padding-left: 176px;
}
.phone-bg .phone-main {
	height: 460px;
	width: 300px;
	padding: 10px;
	background-color: #efefef;
}
.phone-bg .phone-main .phone-content {
	height: 460px;
	width: 300px;
	overflow: auto;
	padding-right: 100px;
}
