#tdc{
    text-align: center;
    vertical-align: middle;
}
a:visited
{
    text-decoration: none;
}
a:active
{
    text-decoration: none;
}
#picshow
{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
    width:88px;
    height:125px;
}