<!DOCTYPE html>
<html lang="en" ng-app="SActivityApp">
<head>
<title>活动信息</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        textarea {
            display: block;
           }
        .text_05 {
            color: #999;
        }
        h1 {
            font-size: 14px;
            line-height: 32px;
        }
        h6 {
            font-size: 12px;
            font-weight: normal;
        }
    </style>
<link rel="stylesheet" href="../kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="../css/bootstrap.min_1.css" />
<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
<!--<link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap-datetimepicker.min.css">-->
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../css/uniform.css" />
<link rel="stylesheet" href="../css/select2_1.css" />
<link rel="stylesheet" href="../css/maruti-style_1.css" />
<link rel="stylesheet" href="../css/maruti-media_1.css" class="skin-color" />
<link rel="stylesheet" type="text/css" href="../css/newstyle_1.css" />
    <style type="text/css">
        #preview{width:150px;height:150px;overflow:hidden;}
        #imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
        #preview1{width:150px;height:150px;overflow:hidden;}
        #imghead1 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
        #preview_3{width:150px;height:150px;overflow:hidden;}
        #imghead_3 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
    </style>
</head>
<body  ng-controller="mainCtrl">
<div id="warp">

<div id="content">
  <div id="content-header">
      <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="" class="">活动管理</a></div>
  </div>
    <div class="row-fluid">
        <!--左侧box start--><div class="left_box">
        <div class="span1" style="width: 100%;">
            <div class="accordion" id="collapse-group">
                <div class="accordion-group widget-box">
                    <div class="accordion-heading sidebar_b" id="div_1">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse" ng-click="changeLeftbar(1);"> <span class="icon"><i class="icon-magnet"></i></span>
                            <h5>特价工位</h5>
                        </a> </div>
                    </div>
                </div>

                <div class="accordion-group widget-box" >
                    <div class="accordion-heading sidebar_b" id="div_2">
                        <div class="widget-title"><a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse" ng-click="changeLeftbar(2);"> <span class="icon"><i class="icon-magnet"></i></span>
                            <h5>资讯信息</h5>
                        </a></div>
                    </div>
                </div>
                <div class="accordion-group widget-box" >
                    <div class="accordion-heading sidebar_b" id="div_3">
                        <div class="widget-title"> <a data-parent="#collapse-group"  href="#saveFuelMatch" data-toggle="collapse"  ng-click="changeLeftbar(3);"> <span class="icon"><i class="icon-briefcase"></i></span>
                            <h5 >节油大赛</h5>
                        </a></div>
                    </div>
                </div>
                <div class="accordion-group widget-box" >
                    <div class="accordion-heading sidebar_b" id="div_4">
                        <div class="widget-title"> <a data-parent="#collapse-group"  href="#lotteryTicket" data-toggle="collapse" ng-click="changeLeftbar(4);"> <span class="icon"><i class="icon-filter"></i></span>
                            <h5 >送彩票</h5>
                        </a> </div>
                    </div>
                </div>
            </div>
            </div>
    </div><!--左侧box end-->
     <!--右侧box start--><div class="right_bxo">
    <div class="span10" ng-view="" style="width:100%;" >
       </div>
    </div> <!--右侧box end-->
    </div>
</div>
<!--<div id="datetimepicker" class="input-append date">-->
    <!--<input type="text" />-->
      <!--<span class="add-on">-->
        <!--<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>-->
      <!--</span>-->
<!--</div>-->
 </div>

<script charset="utf-8" src="../kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../kindeditor/lang/zh_CN.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery.form.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/jquery.uniform.js"></script>
<script src="../js/jquery.ui.custom.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/maruti.js"></script>
<script src="../js/maruti.tables.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/fun_js/common.js"></script>
<script src="../js/angular-resource.min.js"></script>
<script src="../js/angular-cookies.min.js"></script>
<script src="../js/angular-sanitize.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/fun_js/activityApp.js"></script>
<script src="../js/fun_js/S_activityController.js"></script>
<script src="../js/fun_js/S_specialStationController.js"></script>
<script src="../js/fun_js/S_fuelMatchController.js"></script>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager : true
        });
    });

    function addTag(id)
    {
       var liContent = " <li style='text-align: left;padding-left: 400px;'>"+
               " <input type='checkbox' name='radios' />"+
        "<font style='font-weight: bold'>全选</font>"+
        " <br/>"+
        "<font style='font-weight: bold'>渠道：</font>"+
        "<input type='checkbox' name='radios' />"+
        " 微信用户"+
        "<input type='checkbox' name='radios' />"+
        "客户端"+
        "<br/>"+
        "<font style='font-weight: bold'>车系：</font>"+
        "<input type='checkbox' name='radios' />"+
        " S系"+
        "<br/>"+
        " <font style='font-weight: bold'>用途：</font>"+
        " <input type='checkbox' name='radios' />"+
        "   商用"+
        " <input type='checkbox' name='radios' />"+
        "  家用"+
        " <br/>"+
        "  <font style='font-weight: bold'>用车时段：</font>"+
        " <input type='checkbox' name='radios' />"+
        "  上下班"+
        "  <input type='checkbox' name='radios' />"+
        "  工作时"+
        "  <input type='checkbox' name='radios' />"+
        "  非工作时"+
        "   <br/>"+
        "   <br/>"+
        "<input type='button' onclick='del(this);' value='删除' class='btn btn-danger btn-mini'>"+
        " </li>";
        $("#gritter-notify"+id).append(liContent);
    }
    function del(thisObj)
    {
        $(thisObj).closest("li").remove();
    }
</script>
</body>
</html>
