<!DOCTYPE html>
<html lang="en" ng-app="SCustomerApp">
<head>
<title>客户管理</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/bootstrap.min_1.css" />
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../css/uniform.css" />
<link rel="stylesheet" href="../css/select2_1.css" />
<link rel="stylesheet" href="../css/maruti-style_1.css" />
<link rel="stylesheet" href="../css/maruti-media_1.css" class="skin-color" />
<link rel="stylesheet" type="text/css" href="../css/newstyle_1.css" />
</head>
<body  ng-controller="customerCtrl">
<div id="warp">

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="" class="">客户管理</a></div>
    </div>
    <div class="row-fluid">
        <!--左侧box start--><div class="left_box">
        <div class="span1" style="width: 100%;">
            <div class="accordion" id="collapse-group" >
                <div class="accordion-group widget-box"  ng-repeat="group in tagsGroup">
                    <div class="{{group.class}}" id="{{group.id}}">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="{{group.link}}" data-toggle="collapse" ng-click="changeLeftbar($index);"> <span class="icon"><i class="icon-list"></i></span>
                            <h5>{{group.groupName}}</h5>
                        </a> </div>
                    </div>
                    <div class="collapse accordion-body" id="{{group.fid}}" >
                        <div class="widget-content" style="text-align: right;padding: 0" ng-repeat ="tag in group.tags">
                            <a class="btn btn-menu" style="width: 100%;" href="{{group.link}}/{{tag.tagId}}">{{tag.tagName}}</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group widget-box" >
                    <div class="accordion-heading sidebar_b" id="div_7">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseG_X" data-toggle="collapse" ng-click="changeLeftbar(7);"> <span class="icon"><i class="icon-magnet"></i></span>
                            <h5>自定义标签</h5>
                        </a> </div>
                    </div>
                    <div class="collapse accordion-body" id="collapseG_X">
                        <div class="widget-content" style="text-align: right;padding: 0">
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseG_X/X">标签管理</a>
                        </div>
                        <div class="widget-content" style="text-align: right;padding: 0" ng-repeat="ctt in customTags">
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseG_X/{{ctt.tagId}}">{{ctt.tagName}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--左侧box end-->
        <!--右侧box start--><div class="right_bxo">
        <div class="span10" ng-view="" style="width: 100%;" >
        </div>
    </div> <!--右侧box end-->
    </div>
</div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/jquery.uniform.js"></script>
<script src="../js/jquery.ui.custom.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/maruti.js"></script>
<script src="../js/maruti.tables.js"></script>
<script src="../js/fun_js/common.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-resource.min.js"></script>
<script src="../js/angular-cookies.min.js"></script>
<script src="../js/angular-sanitize.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/fun_js/customerApp.js"></script>
<script src="../js/fun_js/S_customerController.js"></script>
</body>
</html>
