<!DOCTYPE html>
<html ng-app="devAP">
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="remark" content="此页面仅供微站测试">
    <title>微站测试接入点</title>
    <link href="../css/bootstrap-3.1.1.css" rel="stylesheet"/>
    <link href="../css/angular-csp.css" rel="stylesheet"/>
    <script src="../js/angular.min.js"></script>
    <script src="../js/qrcode.js"></script>
    <script src="../js/devAP.js"></script>
    <style type="text/css">
        body{
            padding-bottom: 20px;
        }
    </style>
</head>
<body ng-controller="devAPCtrl">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>微站测试接入点</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 text-center" >
            <div ng-bind-html="model.img_qrcode"></div><br>
            <div class="input-group">
                <input ng-model="model.url" type="text" class="form-control" ng-keypress="model.changeQRCode($event)">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="model.changeQRCode($event)">Go!</button>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="page in model.pagesDev">
                    <a ng-href="{{page.url}}">{{page.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="page in model.pagesStaging">
                    <a ng-href="{{page.url}}">{{page.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-success" ng-click="model.reload()">Reload</button>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>