<!DOCTYPE html>
<html lang="en" ng-app="DriveDataApp">
<head>
    <title>4S店管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min_1.css" />
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../css/uniform.css" />
    <link rel="stylesheet" href="../css/select2_1.css" />
    <link rel="stylesheet" href="../css/maruti-style_1.css" />
    <link rel="stylesheet" href="../css/maruti-media_1.css" class="skin-color" />
    <link rel="stylesheet" type="text/css" href="../css/newstyle_1.css" />
</head>
<body ng-controller="driveDataCtrl">
<div id="warp">
<!--Header-part-->
<div id="header">
    <h1 style="font-size: 25px;">4S店运营平台</h1>
</div>
<!--close-Header-part-->

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li style="color:white;vertical-align:middle; margin-top: 15px;"><span class="text">{{nickName}}</span></li>
        <li class=""><a title="" href="../login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>
<!--close-top-Header-menu-->

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i>运营后台</a>
    <ul>
        <li class="active"><a href="index.html" target="_parent"><i class="icon icon-home"></i> <span>首页</span></a> </li>
        <li><a href="reservationService.html" target="_parent"><i class="icon icon-th"></i> <span>预约管理</span></a></li>
        <li > <a href="maintainInfo.html" target="_parent"><i class="icon icon-file"></i> <span>提醒管理</span></a></li>
        <li> <a href="activityInfo.html" target="_parent"><i class="icon icon-pencil"></i> <span>活动管理</span></a> </li>
        <li> <a href="customerManage.html" target="_parent"><i class="icon icon-inbox"></i> <span>客户管理</span></a> </li>
        <li class="menu_hl"><a href="driveData.html" target="_parent"><i class="icon icon-fullscreen"></i> <span>行车数据</span></a></li>
        <li> <a href="setting.html" target="_parent"><i class="icon icon-th-list"></i> <span>设置</span></a></li>
    </ul>
</div>
<div id="content" >
  <div id="content-header">
      <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a> <a href="driveData.html?token={{token}}" class="current">行车数据</a> </div>
  </div>
  	<div class="row-fluid" >
    <!--mainbox01 start--><div class="mainbox01" >
          <!--一次行程数据详情 start-->
          <div class="widget-box" ng-show="oneDetailDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>行程数据</h5>
                  <a class="btn btn-success btn-mini" style="float:right;margin:3px 30px 0 0;" ng-click="gotoBack(1)" >返回</a>
              </div>
              <div class="widget-content nopadding">
                  <table class="table table-bordered ">
                      <thead>
                      <tr>
                          <th class="tablestyle-01">城市</th>
                          <th class="tablestyle-02">{{custInfo.city}}</th>
                          <th class="tablestyle-01">4S店</th>
                          <th class="tablestyle-02">{{driveDetail.s4_name}}</th>
                          <th class="tablestyle-01">品牌</th>
                          <th class="tablestyle-02">{{carInfo.brand_name}}</th>
                          <th class="tablestyle-01">车系</th>
                          <th class="tablestyle-02">{{carInfo.series_name}}</th>
                      </tr>
                      <tr>
                          <th class="tablestyle-01">车主</th>
                          <th class="tablestyle-02">{{custInfo.nick}}</th>
                          <th class="tablestyle-01">联系电话</th>
                          <th class="tablestyle-02">{{custInfo.phone}}</th>
                          <th class="tablestyle-01">OBD编号</th>
                          <th class="tablestyle-02">{{carInfo.obd_code}}</th>
                          <th class="tablestyle-01">SIM卡号</th>
                          <th class="tablestyle-02">{{carInfo.sim_number}}</th>
                      </tr>
                      <tr>
                          <th class="tablestyle-01">VIN码</th>
                          <th class="tablestyle-02">{{driveDetail.vin}}</th>
                          <th class="tablestyle-01">状态</th>
                          <th class="tablestyle-02">{{carInfo.act_type_name}}</th>
                          <th class="tablestyle-01">点火时间</th>
                          <th class="tablestyle-02">{{driveDetail.fireTime}}</th>
                          <th class="tablestyle-01">点火电压</th>
                          <th class="tablestyle-02">{{driveDetail.firingVoltage}}</th>
                      </tr>
                      <tr>
                          <th class="tablestyle-01">发动机运行时间</th>
                          <th class="tablestyle-02">{{driveDetail.runTime}}</th>
                          <th class="tablestyle-01">本次平均油耗</th>
                          <th class="tablestyle-02">{{driveDetail.currentAvgOilUsed}}</th>
                          <th class="tablestyle-01">急加速次数</th>
                          <th class="tablestyle-02">{{driveDetail.speedUp}}</th>
                          <th class="tablestyle-01">急减速次数</th>
                          <th class="tablestyle-02">{{driveDetail.speedDown}}</th>
                      </tr>
                      <tr>
                          <th class="tablestyle-01">急转弯次数</th>
                          <th class="tablestyle-02">{{driveDetail.sharpTurn}}</th>
                          <th class="tablestyle-01">熄火电压</th>
                          <th class="tablestyle-02">{{driveDetail.flameOutVoltage}}</th>
                          <th class="tablestyle-01">累计平均油耗</th>
                          <th class="tablestyle-02">{{driveDetail.avgOilUsed}}</th>
                          <th class="tablestyle-01">累计行驶里程</th>
                          <th class="tablestyle-02">{{driveDetail.mileage}}</th>
                      </tr>
                      <tr>
                          <th class="tablestyle-01">1速段里程</th>
                          <th class="tablestyle-02">{{driveDetail.speedGroup[0].time}}秒，{{driveDetail.speedGroup[0].distance}}米</th>
                          <th class="tablestyle-01">1-45速段里程</th>
                          <th class="tablestyle-02">{{driveDetail.speedGroup[1].time}}秒，{{driveDetail.speedGroup[1].distance}}米</th>
                          <th class="tablestyle-01">45-90速段里程</th>
                          <th class="tablestyle-02">{{driveDetail.speedGroup[2].time}}秒，{{driveDetail.speedGroup[2].distance}}米</th>
                          <th class="tablestyle-01">熄火时间</th>
                          <th class="tablestyle-02">{{driveDetail.flameOutTime}}</th>
                      </tr>
                      <tr>
                          <th class="tablestyle-01">熄火后电压</th>
                          <th class="tablestyle-02">{{driveDetail.flameOutVoltage}}</th>
                          <th class="tablestyle-01"></th>
                          <th class="tablestyle-02"></th>
                          <th class="tablestyle-01"></th>
                          <th class="tablestyle-02"></th>
                          <th class="tablestyle-01"></th>
                          <th class="tablestyle-02"></th>
                      </tr>

                      </thead>
                  </table>
              </div>
              <div class="widget-content nopadding mar_t_14">
                  <!--<table class="table table-bordered data-table">-->
                  <table class="table table-bordered">
                      <thead>
                      <tr >
                          <th class="tablestyle-03">OBD设备编号</th>
                          <th class="tablestyle-03">行驶编号</th>
                          <th class="tablestyle-03">创建时间</th>
                          <th class="tablestyle-03">操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="gradeX" ng-repeat="device in details">
                          <td class="tablestyle-04" id="tdc">{{device.obdCode}}</td>
                          <td class="tablestyle-04" id="tdc">{{device.id}}</td>
                          <td class="tablestyle-04" id="tdc">{{device.createTime}}</td>
                          <td class="tablestyle-04" id="tdc"><a class="btn btn-info btn-mini" ng-click="GetOneMinuteDetail($index);">详细数据</a></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <div><font color="red">{{tips}}</font></div>
              <div class="pagination alternate" style="float:right;">
                  共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
                  跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,2);">
                  <option>1</option>
              </select>页
              </div>
              <div class="clearfix"></div>
          </div>
          <!--一次行车数据详情 end-->
          <!--一分钟行车数据详情 start-->
          <div class="widget-box margin_16" ng-show="oneMinuteDetailDiv">
              <div class="widget-title">
                  <span class="icon"><i class="icon-th"></i></span>
                  <h5>数据流记录</h5>
                  <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="gotoBack(2)" >返回</a>
              </div>
              <div class="widget-content nopadding">
                  <!--<table class="table table-bordered data-table">-->
                  <table class="table table-bordered">
                      <thead>
                      <tr class="bgcolor01">
                          <th>ID</th>
                          <th>参数</th>
                          <th>值</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="gradeX" ng-repeat="omdd in omdds">
                          <td id="tdc">{{omdd.id}}</td>
                          <td id="tdc">{{omdd.tip}}</td>
                          <td id="tdc">{{omdd.value}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <!--一分钟行车数据详情 end-->
          <!--行车数据列表 start-->
        <div class="widget-box margin_16" ng-show="driveDiv">
          <div class="widget-title" >
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>行车数据列表</h5>
          </div>
            <div class="widget-content nopadding table_widget_bg">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="vertical-align: middle;">OBD编号：
                            <input type="text" placeholder="12位OBD编号" style="width:150px;" ng-model="obd_num"/></th>
                        <th style="vertical-align: middle;">车系：
                            <select style="width:150px;padding-left:15px;" ng-model="series" ng-options="series.seriesCode as series.series for series in carSeries">
                                <option></option>
                            </select></th>
                        <th style="vertical-align: middle;"><button type="submit" class="btn btn-success" ng-click="SearchDriveInfo();">搜索</button></th>
                    </tr>
                    </thead>
                </table>
               </div>
            <div class="widget-content nopadding " >
                <table class="table table-bordered ">
                    <thead>
                    <tr class="bgcolor01">
                        <th>城市</th>
                        <th>4S店</th>
                        <th>品牌</th>
                        <th>车系</th>
                        <th>OBD编号</th>
                        <th>WIN码</th>
                        <th>点火时间</th>
                        <th>行驶里程</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX" ng-repeat="device in drvInfos">
                        <td id="tdc">{{device.s4_city}}</td>
                        <td id="tdc">{{device.s4_name}}</td>
                        <td id="tdc">{{device.brand_name}}</td>
                        <td id="tdc">{{device.series_name}}</td>
                        <td id="tdc">{{device.obdCode}}</td>
                        <td id="tdc">{{device.vin}}</td>
                        <td id="tdc">{{device.fireTime}}</td>
                        <td id="tdc">{{device.currentMileage}}</td>
                        <td id="tdc">{{device.carStatus}}</td>
                        <td id="tdc">
                            <a class="btn btn-info btn-mini" ng-click="GetDriveDetail(device.obdCode,device.id,$index);">查看</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div><font color="red">{{tips}}</font></div>
           <div class="pagination alternate" style="float:right;">
                共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
                跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption" ng-change="changePage(changeId,1);">
                <option>1</option>
            </select>页
            </div>
            <div class="clearfix"></div>
        </div>
          <!--行车数据列表 end-->
      </div>
    </div> <!--mainbox01 end-->
</div>
</div>
    <div id="footer" class="span12"> 2014 &copy; 英卡</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery.form.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/jquery.uniform.js"></script>
<script src="../js/jquery.ui.custom.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/maruti.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/fun_js/common.js"></script>
<script src="../js/fun_js/S_drivedataController.js"></script>
</body>
</html>
