<!DOCTYPE html>
<html lang="en" ng-app="SMaintainApp">
<head>
    <title>提醒管理</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min_1.css" />
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../css/uniform.css" />
    <link rel="stylesheet" href="../css/select2_1.css" />
    <link rel="stylesheet" href="../css/maruti-style_1.css" />
    <link rel="stylesheet" href="../css/maruti-media_1.css" class="skin-color" />
    <link rel="stylesheet" type="text/css" href="../css/newstyle_1.css" />
</head>
<body ng-controller="mainCtrl">
<div id="warp">

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index_main.html" target="main" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="" class="">提醒管理</a></div>
    </div>
    <div class="row-fluid">
        <!--左侧box start--><div class="left_box">
        <div class="span1" style="width: 100%;">
            <div class="accordion" id="collapse-group">
                <div class="accordion-group widget-box">
                    <div class="accordion-heading sidebar_b" id="div_1">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse" class="collapsed" ng-click="changeLeftbar(1);"> <span class="icon"><i class="icon-info-sign"></i></span>
                            <h5>保养提醒</h5>
                        </a> </div>
                    </div>
                    <div class="collapse accordion-body" id="collapseGOne">
                        <div class="widget-content" style="text-align: right;padding:0">
                            <a  class="btn btn-menu" style="width: 100%;" href="#collapseGOne/newremind?t={{randomTime}}" id="a_1" ng-click="changeLeftSmallBar(1)"><font>新提醒</font></a>
                            <a  class="btn btn-menu" style="width: 100%;" href="#collapseGOne/alCare?t={{randomTime}}" id="a_2" ng-click="changeLeftSmallBar(2)"><font>已关怀</font></a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group widget-box">
                    <div class="accordion-heading sidebar_b" id="div_2">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse" ng-click="changeLeftbar(2);"> <span class="icon"><i class="icon-wrench"></i></span>
                            <h5 >碰撞提醒</h5>
                        </a> </div>
                    </div>
                    <div class="collapse accordion-body" id="collapseGTwo">
                        <div class="widget-content" style="text-align: right;padding:0">
                            <a  class="btn btn-menu" style="width: 100%;" href="#collapseGTwo/1?t={{randomTime}}" id="b_1" ng-click="changeLeftSmallBar_1(1)"><font>新提醒</font></a>
                            <a  class="btn btn-menu" style="width: 100%;" href="#collapseGTwo/2?t={{randomTime}}" id="b_2" ng-click="changeLeftSmallBar_1(2)"><font>已关怀</font></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--左侧box end-->
        <!--右侧box start--><div class="right_bxo">
        <div class="span10" ng-view="" style="width:100%;" >
                <!--here模版-->
        </div>
       </div> <!--右侧box end-->
        <div class="clearfix"></div>
    </div>
</div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/jquery.uniform.js"></script>
<script src="../js/jquery.ui.custom.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/maruti.js"></script>
<script src="../js/maruti.tables.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-resource.min.js"></script>
<script src="../js/angular-cookies.min.js"></script>
<script src="../js/angular-sanitize.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/fun_js/common.js"></script>
<script src="../js/fun_js/remindApp.js"></script>
<script src="../js/fun_js/S_maintainController.js"></script>
<script src="../js/fun_js/S_alarmController.js"></script>
</body>
</html>
