<!DOCTYPE html>
<html lang="en" ng-app="SReservationApp">
<head>
    <title>4S店管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min_1.css" />
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../css/uniform.css" />
    <link rel="stylesheet" href="../css/select2_1.css" />
    <link rel="stylesheet" href="../css/maruti-style_1.css" />
    <link rel="stylesheet" href="../css/maruti-media_1.css" class="skin-color" />
    <link rel="stylesheet" type="text/css" href="../css/newstyle_1.css" />
</head>
<body ng-controller="mainCtrl">
<div id="warp">

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index_main.html" target="main"  title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="" class="">预约管理</a></div>
    </div>
    <div class="row-fluid">
        <!--左侧box start--><div class="left_box">
        <div class="span1" style="width: 100%;">
            <div class="accordion" id="collapse-group">
                <div class="accordion-group widget-box">
                    <div class="accordion-heading sidebar_b" id="div_1">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse" class="collapsed"  ng-click="changeLeftbar(1);"> <span class="icon"><i class="icon-magnet"></i></span>
                            <h5>保养预约</h5>
                        </a></div>
                    </div>
                    <div class="collapse accordion-body" id="collapseGOne">
                        <div class="widget-content" style="text-align: right;padding:0">
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseGOne/applied?t={{randomTime}}" id="a_1" ng-click="changeLeftSmallBar(1)"><font>新申请</font></a>
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseGOne/rejected?t={{randomTime}}" id="a_2" ng-click="changeLeftSmallBar(2)"><font>已拒绝</font></a>
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseGOne/approved?t={{randomTime}}" id="a_3" ng-click="changeLeftSmallBar(3)"><font>已确认</font></a>
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseGOne/done?t={{randomTime}}" id="a_4" ng-click="changeLeftSmallBar(4)"><font>已完成</font></a>
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseGOne/aborted?t={{randomTime}}" id="a_5" ng-click="changeLeftSmallBar(5)"><font>未到店</font></a>
                            <a class="btn btn-menu" style="width: 100%;" href="#collapseGOne/cancelled?t={{randomTime}}" id="a_6" ng-click="changeLeftSmallBar(6)"><font>已取消</font></a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group widget-box" >
                    <div class="accordion-heading sidebar_b" id="div_2">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo?t={{randomTime}}" data-toggle="collapse" class="collapsed" ng-click="changeLeftbar(2);"><span class="icon"><i class="icon-magnet"></i></span>
                            <h5>试乘试驾</h5>
                        </a></div>
                    </div>
                    <div class="collapse accordion-body" id="collapseGTwo?t={{randomTime}}">
                        <div class="widget-content" style="text-align: right;padding:0">
                            <a class="btn btn-menu" style="width: 100%;" href = "#collapseGTwo/applied">新申请</a>
                            <a class="btn btn-menu" style="width: 100%;" href = "#collapseGTwo/rejected">已拒绝</a>
                            <a class="btn btn-menu" style="width: 100%;" href = "#collapseGTwo/approved">已确认</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--左侧box end-->
        <!--右侧box start--><div class="right_bxo">
        <div class="span10" ng-view="" style="width:100%" >
        </div>
    </div> <!--右侧box end-->
        <div class="clearfix"></div>
    </div>
</div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/jquery.uniform.js"></script>
<script src="../js/jquery.ui.custom.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/maruti.js"></script>
<script src="../js/maruti.tables.js"></script>
<script src="../js/angular.min.js"></script>

<script src="../js/angular-resource.min.js"></script>
<script src="../js/angular-cookies.min.js"></script>
<script src="../js/angular-sanitize.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/fun_js/common.js"></script>
<script src="../js/fun_js/public.js"></script>
<script src="../js/fun_js/reservationApp.js"></script>
<script src="../js/fun_js/S_reservationController.js"></script>
<script src="../js/fun_js/S_repairController.js"></script>
</body>
</html>
