<!DOCTYPE html>
<html ng-app="LoginApp">
<head>
    <title>登录页面</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min_1.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/maruti-login_1.css" />
    <link href="css/newstyle.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="loginCtrl">
<div id="warp">
    <div id="loginbox">
        <div id="loginimg">
            <img src="img/login_img.png" width="440" height="168">
        </div>
        <div id="loginmain">
            <form id="loginform" class="form-vertical">
                <div class="control-group" style="border:0px;">
                    <div class="controls" style="padding:0px;">
                        <span style="color:#FFF">用户名：</span><input type="text" style="width:176px; margin-top:4px;" placeholder="Username" ng-model="username1"  />
                    </div>
                </div>
                <div class="control-group" style="border:0px;">
                    <div class="controls" style="padding:0px;">
                        <span style="color:#FFF">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input type="password" style="width:176px; margin-top:4px;" placeholder="Password" ng-model="password" ng-Keypress="loginEnter($event)"/>
                    </div>
                </div>
                <div class="control-group" style="border:0px;">
                    <button type="button" style="margin-left:60px;" class="btn btn-warning btn-mini" ng-click="login();">登&nbsp;&nbsp;录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/fun_js/common.js"></script>
<script src="js/maruti.login.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/fun_js/loginController.js"></script>
<script src="js/sha1.js"></script>
</body>
</html>
