<!DOCTYPE html>
<html ng-app="wxApp">
<head>
    <title>个人设置</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <script  src="../mscripts/jquery-1.7.1.min.js"></script>
    <script  src="../mscripts/car.js"></script>

    <script src="../mscripts/sha1.js"></script>
    <!--script  src="../mscripts/jquery.mobile.min.js"></script-->
    <!--<link rel="stylesheet" href="../mstyles/jquery.mobile.min.css">-->
    <link href="../mstyles/pagestyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/regsiterstyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/color.css" rel="stylesheet" type="text/css"/>

    <link href="../mstyles/angular-csp.css" rel="stylesheet" type="text/css"/>
    <script src="../mscripts/angular.min.js"></script>
    <script src="../mscripts/angular-resource.min.js"></script>
    <script src="../mscripts/angular-route.min.js"></script>
    <script src="../mscripts/wxapp.js"></script>
    <script type="text/javascript">
        var infoConfigCtrl = new wxApp.InfoConfigCtrl('infoConfigCtrl');
    </script>
</head>
<body ng-controller="infoConfigCtrl" style="padding: 2" >
<div id="wrap">
     <!--main_wrap start-->
    <div id="main_wrap">
        <!--regsitercontaine start--><div id="regsitercontaine">
        <!--基本信息contentbox start--><div class="contentbox">
        <div class="columnname"><div>基本信息</div></div>
        <div class="content"><ul><li>用&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;&nbsp;名：</li><li><input type="text" id="name" name="name"  class="w132" ng-model="model.userCfg.name"/></li></ul><div class="clear"></div></div>
        <div class="content"><ul><li>OBD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID：</li><li><input type="text" id="obd_code" name="obd_code" class="w132" ng-model="model.userCfg.obd_code"/></li></ul><div class="clear"></div></div>
        <div class="content"><ul><li>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</li><li><input type="password" id="password" name="password" class="w132" ng-model="model.pwd"/></li></ul><div class="clear"></div></div>
        <div class="content"><ul><li>重&nbsp;复&nbsp;密&nbsp;码&nbsp;：</li><li><input type="password" id="pwdagain" name="pwdagain" class="w132" ng-model="model.pwd2" /></li></ul><div class="clear"></div></div>
    </div><!--基本信息contentbox end-->
        <!--车主信息contentbox start--><div class="contentbox">
        <div class="columnname"><div>车主信息</div></div>
        <div class="content"><ul><li>车&nbsp;主&nbsp;姓&nbsp;名&nbsp;：</li><li><input type="text" id="nick" name="nick" class="w132" ng-model="model.userCfg.nick"/></li></ul><div class="clear"></div></div>
        <div class="content"><ul><li>联&nbsp;系&nbsp;电&nbsp;话&nbsp;：</li><li><input type="text" id="phone" name="phone" class="w132" ng-model="model.userCfg.phone"/></li></ul><div class="clear"></div></div>
        <div class="content"><ul><li>车&nbsp;&nbsp;&nbsp;&nbsp;牌&nbsp;&nbsp;&nbsp;&nbsp;号：</li><li><input type="text" id="license" name="license" class="w132" ng-model="model.userCfg.license"/></li></ul><div class="clear"></div></div>
    </div><!--车主信息contentbox end-->
        <!--汽车信息contentbox start--><div class="contentbox">
        <div class="columnname"><div>汽车信息</div></div>
        <div class="content">
            <ul>
                <li>汽&nbsp;车&nbsp;品&nbsp;牌&nbsp;：</li>
                <li><input type="text" disabled id="brand" name="brand" class="w132" ng-model="model.brand_name"/></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="content" style="display: none"><ul><li>汽&nbsp;车&nbsp;品&nbsp;牌&nbsp;*：</li><li><select></select></li></ul><div class="clear"></div></div>
        <div class="content">
            <ul>
                <li>系&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列：</li>
                <li>
                    <select name="series" class="w132" ng-model="model.mySeries" ng-options="s.series as s.series_name for s in model.seriesData">
                    </select>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="content"><ul><li>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;款：</li><li><input type="text" id="modelYear" name="modelYear" class="w132" ng-model="model.userCfg.modelYear"/></li></ul><div class="clear"></div></div>
        <div class="content"><ul><li>总行驶里程：</li><li><input type="text" id="mileage" name="mileage" class="w132" ng-model="model.mileage"/></li></ul><div class="clear"></div></div>
        <div class="content">
            <ul>
                <li>发动机类型：</li>
                <li>
                    <select id="engine_type" name="engine_type" class="w137" ng-model="model.eng_type" ng-options="t for t in model.eng_types">
                    </select>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="content"><ul><li>排&nbsp;&nbsp;&nbsp;&nbsp;气&nbsp;&nbsp;&nbsp;&nbsp;量：</li><li><input type="text" id="disp" name="disp" class="w132" ng-model="model.userCfg.disp"/></li></ul><div class="clear"></div></div>
        <div class="content">
            <ul>
                <li>车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</li>
                <li>
                    <select  id="age" name="age" class="w137" ng-model="model.age" ng-options="age for age in model.ages">
                    </select>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div><!--汽车信息contentbox end-->
    </div><!--regsitercontaine end-->
        <!--regsiterbutton start-->
        <div id="regsiterbutton" >
            <a href="#" class="button01" ng-click="model.update()">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</a>
        </div><!--regsiterbutton end-->

    </div><!--main_wrap end-->
</div>
</body>
</html>
