<!DOCTYPE>
<html ng-app="wxApp">
<head>
    <title>近期活动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="wx-share-pic" content="/data/act_info.jpg"/>

    <script src="../mscripts/jquery-1.7.1.min.js"></script>
    <link href="../mstyles/angular-csp.css" rel="stylesheet" type="text/css"/>

    <link href="../mstyles/pagestyle.css" rel="stylesheet" type="text/css"/>
    <link href="../mstyles/color.css" rel="stylesheet" type="text/css"/>

    <script src="../mscripts/angular.js"></script>
    <script src="../mscripts/angular-resource.min.js"></script>
    <script src="../mscripts/angular-route.min.js"></script>
    <script src="../mscripts/wxapp.js"></script>
    <script type="text/javascript">
        var my4sInfoCtrl = new wxApp.My4sInfoCtrl('my4sInfoCtrl');
    </script>
</head>

<body ng-controller="my4sInfoCtrl">
<div id="wrap">
    <div id="main_wrap">
        <div id="containe_100">
            <ul id="actContent" ng-repeat="ad in model.ads">
                <li>
                    <a ng-href="/msite/activityDetail.html?user={{model.user_openid}}&id={{ad.id}}" target="_self">
                        <div class="listbox01">
                            <div class="imgbox02a float"><img ng-src="../../{{ad.logo_url}}" width="80" height="70"/></div>
                            <div class="icon_6a float"></div>
                            <div class="mainbox01 float">
                                <h2>{{ad.title}}</h2>
                                <span class="text_05">活动发布时间：{{ad.tm_announce.substr(0, 10)}}<br>
                                    {{ad.brief}}
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="w10"></div>
    </div>
</div>
<!--upbox_wrap start-->
<div class="cover" id="cover" ng-show="model.cover_show"></div>
<div class="upbox_wrap" id="upbox_wrap" ng-show="model.upbox_show">
    <div class="upbox" id="upbox">
        <div class="close_icon"><a href="#" ng-click="model.closeUpbox()"><img src="../mimages/close_icon.gif" width="16" height="16"></a></div>
        <div class="text_12" style="padding-top: 10px;padding-bottom: 17px;">{{model.tips}}</div>
        <div>
            <a href="javascript:void(0)" ng-click="model.closeUpbox()"><div class="button02">关闭</div></a>
        </div>
    </div>
</div><!--upbox_wrap end-->
<script >
    $(document).ready(function(){
        //调整弹框出现的位置
        $("#wrap").css("min-height",$(window).height());
        var height=$("#wrap").height();
        $("#cover").css("height",height);
        setTimeout(function(){
            var height=$("#wrap").height();
            $("#cover").css("height",height);
        },2000);
    });
</script>
</body>
</html>