<!DOCTYPE html>
<html ng-app="wxApp">
<head>
    <title>我的预约</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <script src="../mscripts/jquery-1.7.1.min.js"></script>
    <link href="../mstyles/angular-csp.css" rel="stylesheet" type="text/css"/>
    <link href="../mstyles/pagestyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/regsiterstyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/color.css" rel="stylesheet" type="text/css" />

    <script src="../mscripts/angular.js"></script>
    <script src="../mscripts/angular-resource.min.js"></script>
    <script src="../mscripts/angular-route.min.js"></script>
    <script src="../mscripts/wxapp.js"></script>
    <script>
        var myBookingCtrl = new wxApp.MyBookingCtrl("myBookingCtrl");
    </script>
</head>

<body ng-controller="myBookingCtrl">
    <div id="wrap">
        <!--pagename start--><div id="pagename">我的预约</div><!--pagename end-->
        <!--main_wrap start-->
        <div id="main_wrap">
            <!--containe_250 start-->
            <div id="containe_250" ng-cloak class="ng-cloak">
            <!--基本信息contentbox start-->
                <div class="contentbox" ng-repeat="trial in model.my_works | orderBy:'bookingtime':true">
                    <div class="columnname"><div class="text_09">{{trial.work_type}}</div><div><a href="javascript:void(0)" class="text_10" ng-click="model.cancel(trial)">{{ trial.bookingStatus | trial_status_op }}</a></div></div>
                    <div class="content"><ul><li class="text_08">预约车辆：</li><li>{{trial.seriesName}}</li></ul><div class="clear"></div></div>
                    <div class="content"><ul><li class="text_08">提交日期：</li><li>{{ trial.ts.substr(0,16) }}</li></ul><div class="clear"></div></div>
                    <div class="content"><ul><li class="text_08">预约日期：</li><li>{{ trial.bookingtime.substr(0,16) }}</li></ul><div class="clear"></div></div>
                    <div class="content"><ul><li class="text_08">当前状态：</li><li>{{ trial.bookingStatus | trial_status_name }}</li></ul><div class="clear"></div></div>
                </div><!--基本信息contentbox end-->
            </div><!--containe_250 end-->
            <span ng-show="model.my_works.length === 0 && model.qry_returned === 2">您尚没有预约保养或试驾</span>
        </div><!--main_wrap end-->
    </div>
</body>
</html>
