<!DOCTYPE html>
<html ng-app="wxApp">
<head>
    <title>我的预约</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="wx-share-pic" content="/data/my_bookings.jpg"/>

    <script src="../mscripts/jquery-1.7.1.min.js"></script>
    <link href="../mstyles/angular-csp.css" rel="stylesheet" type="text/css"/>
    <link href="../mstyles/pagestyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/regsiterstyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/color.css" rel="stylesheet" type="text/css" />

    <script src="../mscripts/angular.js"></script>
    <script src="../mscripts/angular-resource.min.js"></script>
    <script src="../mscripts/angular-route.min.js"></script>
    <script src="../mscripts/wxapp.js"></script>
    <script>
        var myBookingCtrl = new wxApp.MyBookingCtrl("myBookingCtrl");
    </script>
</head>

<body ng-controller="myBookingCtrl">
    <div id="wrap">
        <!--pagename start--><div id="pagename">我的预约</div><!--pagename end-->
        <!--main_wrap start-->
        <div id="main_wrap">
            <!--containe_250 start-->
            <div id="containe_250" ng-cloak class="ng-cloak">
            <!--基本信息contentbox start-->
                <div class="contentbox" ng-repeat="trial in model.my_works | orderBy:'bookingtime':true">
                    <div class="columnname"><div class="text_09">{{trial.work_type}}</div></div>
                    <div class="content"><ul><li class="text_08">预约车辆：</li><li>{{trial.seriesName}}</li></ul><div class="clear"></div></div>
                    <div class="content"><ul><li class="text_08">提交时间：</li><li>{{ trial.ts.substr(0,16) }}</li></ul><div class="clear"></div></div>
                    <div class="content"><ul><li class="text_08">预约时间：</li><li>{{ trial.bookingtime.substr(0,16) }}</li></ul><div class="clear"></div></div>
                    <div class="content"><ul><li class="text_08">当前状态：</li><li>{{ trial.bookingStatus | trial_status_name }}</li></ul><div class="clear"></div></div>
                <ul>
                    <li class="button03" ng-show="trial.bookingStatus | trial_status_op"><a href="javascript:void(0)" class="text_10" ng-click="model.cancel(trial)">{{ trial.bookingStatus | trial_status_op }}</a></li>
                </ul>
                    <div class="clear"></div>
               </div><!--基本信息contentbox end-->
            </div><!--containe_250 end-->
            <span ng-show="model.my_works.length === 0 && model.qry_returned === 2">您尚没有预约保养或试驾</span>
        </div><!--main_wrap end-->
    </div>
    <!--upbox_wrap start-->
    <div class="cover" id="cover" ng-show="model.cover_show"></div>
    <div class="upbox_wrap" id="upbox_wrap" ng-show="model.upbox_show">
        <div class="upbox" id="upbox">
            <div class="close_icon"><a href="#" ng-click="model.closeUpbox()"><img src="../mimages/close_icon.gif" width="16" height="16"></a></div>
            <div class="text_12" style="padding-top: 10px;padding-bottom: 17px;">{{model.tips}}</div>
            <div>
            <a href="javascript:void(0)" ng-click="model.closeUpbox()"><div class="button02">关闭</div></a>
        </div>
        </div>
    </div><!--upbox_wrap end-->
    <script >
        $(document).ready(function(){
            //调整弹框出现的位置
            $("#wrap").css("min-height",$(window).height());
            var height=$("#wrap").height();
            $("#cover").css("height",height);
            setTimeout(function(){
              var height=$("#wrap").height();
              $("#cover").css("height",height);
            },2000);
        });
     </script>
</body>
</html>
