<!DOCTYPE html>
<html ng-app="wxApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>行车分析</title>
    <!--rickshaw图表控件资源  -->
    <script src="../mscripts/d3.min.js"></script>
    <script src="../mscripts/rickshaw.min.js"></script>

    <link href="../mstyles/angular-csp.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../mstyles/graph.css">
    <link type="text/css" rel="stylesheet" href="../mstyles/lines.css">

    <!--rickshaw图表控件资源结束  -->
    <script src="../mscripts/jquery-1.7.1.min.js"></script>
    <script src="../mscripts/car.js"></script>

    <script src="../mscripts/angular.min.js"></script>
    <script src="../mscripts/angular-resource.min.js"></script>
    <script src="../mscripts/angular-route.min.js"></script>
    <script src="../mscripts/wxapp.js"></script>

    <!--日期控件资源  -->
    <script src="../mscripts/jqm-datebox-1.4.0.comp.flipbox.min.js"></script>
    <script src="../mscripts/jquery.mobile.min.js"></script>
    <link rel="stylesheet" href="../mstyles/jquery.mobile.min.css">
    <link rel="stylesheet" href="../mstyles/jqm-datebox.min.css">
    <!--日期控件资源结束  -->
    <link href="../mstyles/pagestyle.css" rel="stylesheet" type="text/css"/>
    <link href="../mstyles/color.css" rel="stylesheet" type="text/css"/>
    <link href="../mstyles/menustyle.css" rel="stylesheet" type="text/css"/>
    <script src="../mscripts/highcharts.js"></script>
    <!--<script  src="../mscripts/exporting.js"></script>-->
    <style scoped>
        #fuel_chart {
            position: relative;
            float: left;
            width: 85%;
        }

        #fuel_y_axis {
            position: relative;
            float: left;
            width: 30px;
            height: 200px;
        }

        #carbon_chart {
            position: relative;
            float: left;
            width: 85%;
        }

        #carbon_y_axis {
            position: relative;
            float: left;
            width: 30px;
            height: 200px;
        }

        #drive_chart {
            position: relative;
            float: left;
            width: 85%;
        }

        #drive_y_axis {
            position: relative;
            float: left;
            width: 30px;
            height: 200px;
        }
    </style>
    <script type="text/javascript">
        var user;//用户openid
        var fuelChartData;//图表数据
        var carbonChartData;//图表数据
        var behaviorChartData;
        var today;
        //本地数据，用于演示
        fuelChartDataDemo = [
            {data: [
                {x: 0, y: 0.0},
                {x: 1, y: 0.0},
                {x: 2, y: 0.0},
                {x: 3, y: 0.0},
                {x: 4, y: 0.0},
                {x: 5, y: 0.0}
            ],
                color: "#c05020"}
        ];
        fuelChartData = fuelChartDataDemo;

        carbonChartDataDemo = [
            {data: [
                {x: 0, y: 0},
                {x: 1, y: 0},
                {x: 2, y: 0},
                {x: 3, y: 0},
                {x: 4, y: 0},
                {x: 5, y: 0}
            ],
                color: "#c05020"}
        ];
        carbonChartData = carbonChartDataDemo;
        //页面加载初始化
        $(document).ready(function(){
            user = getQueryString("user");
            //调整弹框出现的位置
            $("#wrap").css("min-height",$(window).height());
            var height=$("#wrap").height();
            $("#cover").css("height",height);
            setTimeout(function(){
                var height=$("#wrap").height();
                $("#cover").css("height",height);
            },2000);
        })

    </script>
</head>

<body  ng-controller="myDriveCtrl">
<div id="wrap">

    <!--menu_box start-->
    <div id="menu_box">
        <!--ULmenu start-->
        <ul class="menu">
            <li><a id="menu_icon1" href="javascript:void(0)" class="menu_icon1b"><span class="nostyle01">油&nbsp;&nbsp;&nbsp;&nbsp;耗</span></a></li>
            <li><a id="menu_icon2" href="javascript:void(0)" class="menu_icon2a"><span class="nostyle01">碳排放量</span></a></li>
            <li><a id="menu_icon3" href="javascript:void(0)" class="menu_icon3a"><span class="nostyle01">驾驶偏好</span></a></li>
            <li><a id="menu_icon4" href="javascript:void(0)" class="menu_icon4a"><span class="nostyle01">速段统计</span></a></li>
        </ul>
        <!--ULmenu end-->
        <div class="clear"></div>
    </div>
    <!--meun_box end-->
    <div class="clear"></div>

    <!--datebox_01 start-->
    <div id="datebox_01" style="padding: 0px 8px;">
        <ul style="width:100%">
            <li style="width: 48%;float: left;"><input name="start" class="w108" type="date"
                                                      data-options='{"mode":"flipbox"}' data-role="datebox" id="start"
                                                      style="vertical-align:middle;"
                                                      ng-model="model.tmStart" ng-change="model.onDateChanged()"/></li>
            <li style="width: 48%;float: right"><input name="end" class="w108" type="date" data-options='{"mode":"flipbox"}'
                                                      data-role="datebox" id="end" style="vertical-align:middle;"
                                                      ng-model="model.tmEnd" ng-change="model.onDateChanged()"/></li>
        </ul>
        <div class="clear"></div>
    </div>
    <!--datebox_01 end-->
    <!--main_wrap start-->
    <div id="main_wrap">
    <!--mainbox1油耗内容 star-->
    <div id="mainbox1">
        <!--文字部分区1 start-->
        <div>
            <div class="boxstyle01"><span style="text-shadow:none;">最近一次行驶</span></div>
            <div class="boxstyle02" ng-show="model.driveData">
                <ul>
                    <li style="text-shadow:none;">平均油耗为：<span>{{ model.driveData.fuelDataLastTime.fuel | l_per_100km | number }} 升/百公里</span></li>
                    <li style="text-shadow:none;">行驶里程数：<span>{{ model.driveData.fuelDataLastTime.mileage | km }} 公里</span></li>
                    <li style="text-shadow:none;">耗&nbsp;&nbsp;油&nbsp;&nbsp;量为：<span>{{ model.driveData.fuelDataLastTime.totalFuel | l | number}} 升</span></li>
                </ul>
            </div>
            <img src="/mimages/loading.gif" ng-hide="model.driveData" style="width:30px;height:30px;">
            <div class="clear"></div>
        </div>
        <!--文字部分区1 end-->
        <div class="h18"></div>
        <!--文字部分区2 start-->
        <!--<div>
        <div class="boxstyle01" style="text-shadow:none;">本周行驶</div>
        <div class="boxstyle02">
          <ul>
          <li style="text-shadow:none;">平均油耗为：<span id="weekFuel">7.2升/百公里</span></li>
          <li style="text-shadow:none;">行驶里程数：<span id="weekMiles">216.0公里</span></li>
          <li style="text-shadow:none;">耗&nbsp;&nbsp;油&nbsp;&nbsp;量为：<span id="weekTotalFuel">18.70升</span></li>
          </ul>
        </div>
        <div class="clear"></div>
        </div>-->
        <!--文字部分区2 end-->
        <br>

        <div class="h18"></div>
        <!--文字部分区3 start-->
        <div>
            <div class="boxstyle01"><span style="text-shadow:none;">本时间段行驶</span></div>
            <div class="boxstyle02" ng-show="model.driveData">
                <ul>
                    <li style="text-shadow:none;">平均油耗为：<span>{{model.driveData.fuelDataLastInterval.fuel | l_per_100km | number}} 升/百公里</span></li>
                    <li style="text-shadow:none;">行驶里程数：<span>{{model.driveData.fuelDataLastInterval.mileage | km }} 公里</span></li>
                    <li style="text-shadow:none;">耗&nbsp;&nbsp;油&nbsp;&nbsp;量为：<span>{{model.driveData.fuelDataLastInterval.totalFuel | l | number}} 升</span></li>
                </ul>
            </div>
            <img src="/mimages/loading.gif" ng-hide="model.driveData" style="width:30px;height:30px;">
            <div class="clear"></div>
        </div>
        <!--文字部分区3  end-->
        <!--imgbox01图片区1 start-->
        <div class="imgbox01">
            <div class="chart-wrapper" style="margin-bottom: 10px;">
                <div id="fuel_y_axis"></div>
                <div id="fuel_chart"></div>
            </div>
            <div id="fule_note"
                 style="text-align:center;margin-top: 20px;vertical-align: middle;margin-top: 215px;margin-left: 30px">
                <div style="text-align: left;width: 49%;float: left;text-shadow:none;">{{model.tmStart}}</div>
                <div style="text-align: right;width: 49%;float: left;text-shadow:none;">{{model.tmEnd}}</div>
            </div>
        </div>
        <!--imgbox01图片区1 end-->
    </div>
    <!--mainbox1油耗内容 end-->
    <!--mainbox2碳排放内容 star-->
    <div id="mainbox2" style="display:none;">
        <!--文字部分区1 start-->
        <div class="text_01" style="text-align: left;padding-left: 20px;text-shadow:none;" ng-show="model.driveData">
            <span>最近一次</span>行驶碳排放参考量为：<span>{{model.driveData.carbonDataLastTime.carbon | kg | number}} kg</span><br/>
            <!--<span>本周</span>行驶碳排放参考量为：<span id="weekCarbon">24kg</span><br />-->
            <span>本时间段</span>行驶碳排放参考量为：<span>{{model.driveData.carbonDataLastInterval.carbon | kg | number}} kg</span>
        </div>
        <img src="/mimages/loading.gif" ng-hide="model.driveData" style="width:30px;height:30px;">
        <!--文字部分区1 end-->
        <!--imgbox01图片区1 start-->
        <div class="imgbox01">
            <div class="chart-wrapper" style="margin-bottom: 10px;">
                <div id="carbon_y_axis"></div>
                <div id="carbon_chart"></div>
            </div>
            <div id="carbon_note"
                 style="text-align:center;margin-top: 20px;vertical-align: middle;margin-top: 215px;margin-left: 30px">
                <div style="text-align: left;width: 49%;float: left;text-shadow:none;">{{model.tmStart}}</div>
                <div style="text-align: right;width: 49%;float: left;text-shadow:none;">{{model.tmEnd}}</div>
                <br>
            </div>
        </div>
        <!--imgbox01图片区1 end-->
    </div>
    <!--mainbox2碳排放内容 end-->
    <!--mainbox3驾驶偏好内容 star-->
    <div id="mainbox3" style="display:none;">
        <!--文字部分区1 start-->
        <div>
            <div class="boxstyle01"><span style="text-shadow:none;">最近一次行驶</span></div>
            <div class="boxstyle02" ng-show="model.driveData">
                <ul>
                    <li style="text-shadow:none;">急转弯次数：<span>{{model.driveData.behaviorDataLatestTime.turnLatestTime}}</span></li>
                    <li style="text-shadow:none;">急加速次数：<span>{{model.driveData.behaviorDataLatestTime.speedupLatestTime}}</span></li>
                    <li style="text-shadow:none;">急减速次数：<span>{{model.driveData.behaviorDataLatestTime.speeddownLatestTime}}</span></li>
                </ul>
            </div>
            <img src="/mimages/loading.gif" ng-hide="model.driveData" style="width:30px;height:30px;">
            <div class="clear"></div>
        </div>
        <!--文字部分区1 end-->
        <div class="h18"></div>
        <!--文字部分区2 start<!--
       <!--
       <div>
        <div class="boxstyle01" style="text-shadow:none;">本周行驶</div>
        <div class="boxstyle02">
          <ul>
          <li style="text-shadow:none;">急转弯次数：<span id="weekTurn"></span></li>
          <li style="text-shadow:none;">急加速次数：<span id="weekSpeedup"></span></li>
          <li style="text-shadow:none;">急减速次数：<span id="weekSpeeddown"></span></li>
          </ul>
        </div>
        <div class="clear"></div>
        </div>-->
        <!--文字部分区2 end-->
        <div class="h18"></div>
        <!--文字部分区3 start-->
        <br>

        <div>
            <div class="boxstyle01"><span style="text-shadow:none;">本时间段行驶</span></div>
            <div class="boxstyle02" ng-show="model.driveData">
                <ul>
                    <li style="text-shadow:none;">急转弯次数：<span>{{model.driveData.behaviorDataInterval.turnInterval}}</span></li>
                    <li style="text-shadow:none;">急加速次数：<span>{{model.driveData.behaviorDataInterval.speedupInterval}}</span></li>
                    <li style="text-shadow:none;">急减速次数：<span>{{model.driveData.behaviorDataInterval.speeddownInterval}}</span></li>
                </ul>
            </div>
            <img src="/mimages/loading.gif" ng-hide="model.driveData" style="width:30px;height:30px;">
            <div class="clear"></div>
        </div>
        <!--文字部分区3  end-->
        <!--imgbox01图片区1 start-->
        <div class="imgbox01">
            <div class="chart-wrapper" style="margin-bottom:10px;">
                <div id="drive_y_axis"></div>
                <div id="drive_chart"></div>
            </div>
            <div id="note" style="text-align:center;vertical-align: middle;margin-top: 190px;margin-left: 30px">
                <div style="text-align: left;width: 49%;float: left;text-shadow:none;">{{model.tmStart}}</div>
                <div style="text-align: right;width: 49%;float: left;text-shadow:none;">{{model.tmEnd}}</div>
                <br>

                <div style="width: 10px;background:#c05020;height: 5px;float: left;margin-top: 5px;margin-left: 20px"></div>
                <div style="float: left;margin-left: 10px;margin-right: 20px;text-shadow:none;">急加速</div>
                <div style="width: 10px;background:#30c020;height: 5px;float: left;margin-top: 5px"></div>
                <div style="float: left;margin-left: 10px;margin-right: 20px;text-shadow:none;">急减速</div>
                <div style="width: 10px;background:#6060c0;height: 5px;float: left;margin-top: 5px"></div>
                <div style="float: left;margin-left: 10px;margin-right: 20px;text-shadow:none;">急转弯</div>
            </div>
        </div>
        <!--imgbox01图片区1 end-->
    </div>
    <!--mainbox3驾驶偏好内容 end-->
    <!--mainbox4速段统计内容 star-->
    <div id="mainbox4" style="display:none;">
        <!--文字部分区1 start-->
        <br>

        <div>
            <div class="boxstyle01"><span style="text-shadow:none;">最近一次行驶</span></div>
            <div class="boxstyle02" ng-show="model.driveData">
                <ul>
                    <li style="text-shadow:none;">时速45公里以下<span>{{model.driveData.lastSpeed.slow | km}}</span> 公里</li>
                    <li style="text-shadow:none;">时速45到90公里<span>{{model.driveData.lastSpeed.middle | km}}</span> 公里</li>
                    <li style="text-shadow:none;">时速90公里以上<span>{{model.driveData.lastSpeed.high | km}}</span> 公里</li>
                </ul>
            </div>
            <img src="/mimages/loading.gif" ng-hide="model.driveData" style="width:30px;height:30px;">
            <div class="clear"></div>
        </div>
        <!--文字部分区1 end-->
        <div class="h18"></div>
        <!--文字部分区2 start-->
        <!--<div>
         <div class="boxstyle01" style="text-shadow:none;">本周行驶</div>
         <div class="boxstyle02">
           <ul>
               <li style="text-shadow:none;">时速45公里以下<span id="weekSlowSpeed"></span>公里;</li>
               <li style="text-shadow:none;">时速45到90公里<span id="weekMiddleSpeed"></span>公里;</li>
               <li style="text-shadow:none;">时速90公里以上<span id="weekHighSpeed"></span>公里</li>
           </ul>
         </div>
         <div class="clear"></div>
         </div>-->
        <!--文字部分区2 end-->
        <div class="h18"></div>
        <!--文字部分区3 start-->
        <br>

        <div>
            <div class="boxstyle01"><span style="text-shadow:none;">本时间段行驶</span></div>
            <div class="boxstyle02" ng-show="model.driveData">
                <ul>
                    <li style="text-shadow:none;">时速45公里以下<span>{{model.driveData.intervalSpeed.slow | km}}</span> 公里</li>
                    <li style="text-shadow:none;">时速45到90公里<span>{{model.driveData.intervalSpeed.middle | km}}</span> 公里</li>
                    <li style="text-shadow:none;">时速90公里以上<span>{{model.driveData.intervalSpeed.high | km}}</span> 公里</li>
                </ul>
            </div>
            <img src="/mimages/loading.gif" ng-hide="model.driveData" style="width:30px;height:30px;">
            <div class="clear"></div>
        </div>
        <!--文字部分区3  end-->
        <!--imgbox01图片区1 start-->
        <div id="container"
             style="min-width: 310px;width: 75%; height: 200px; margin-left: -15px;margin-top: 20px;padding: 0">
        </div>
        <!--imgbox01图片区1 end-->
    </div>
    <!--mainbox4速段统计内容 end-->

    </div>
    <!--main_wrap end-->
</div>
<!--upbox_wrap start-->
<div class="cover" id="cover" ng-show="model.cover_show"></div>
<div class="upbox_wrap" id="upbox_wrap" ng-show="model.upbox_show">
    <div class="upbox" id="upbox">
        <div class="close_icon"><a href="#" ng-click="model.closeUpbox()"><img src="../mimages/close_icon.gif" width="16" height="16"></a></div>
        <div class="text_12" style="padding-top: 10px;padding-bottom: 17px;">{{model.tips}}</div>
        <div>
            <a href="javascript:void(0)" ng-click="model.closeUpbox()"><div class="button02">关闭</div></a>
        </div>
    </div>
</div><!--upbox_wrap end-->

<script type="text/javascript">
    var myDriveCtrl = new wxApp.MyDriveCtrl('myDriveCtrl');
    //var tabIds=["menu_icon1","menu_icon2","menu_icon3","menu_icon4"];
    //获得样式为menu的ul下面所有li下面所有的a，给他们绑定click事件
    function onMenuClick() {
        var clickId = $(this).attr("id");
        var boxId = clickId.replace("menu_icon", "mainbox");
        $("#main_wrap>div").hide();
        $("#menu_box>ul>li>a").each(function () {
            var id = $(this).attr("id");
            if (id === clickId) {
                $(this).removeClass().addClass(id + "b");
                $("#" + boxId).show();
            }
            else {
                $(this).removeClass().addClass(id + "a");
            }
        });
    }

    $("#menu_box>ul>li>a").click(onMenuClick);

    //分享到微信朋友圈
    function shareToFriend() {
        var str = location.href;
        var beginDate = new Date(myDriveCtrl.tmStart);
        var endDate = new Date(myDriveCtrl.tmEnd);
        var title = "我的行车数据";
        var desc = "分享我的行车数据";
        var link = str.substring(0, str.lastIndexOf('/')) + "/myDrive.html?user=" + user + "&start=" + beginDate.toDateString() + "&end=" + endDate.toDateString();
        var pic = str.substring(0, str.lastIndexOf('/msite')) + "/data/drive_analyse.jpg";
        weixinShareTimeline(title, desc, link, pic);
    }

    //分享到腾讯微博
    function shareToWeibo() {
        var str = location.href;
        var beginDate = new Date(myDriveCtrl.tmStart);
        var endDate = new Date(myDriveCtrl.tmEnd);
        var title = "我的行车数据";
        var link = str.substring(0, str.lastIndexOf('/')) + "/myDrive.html?user=" + user + "&start=" + beginDate.toDateString() + "&end=" + endDate.toDateString();
        weixinShareWeibo(title, link);
    }

    // 发送给好友;
    function shareTo() {
        var str = location.href;
        var beginDate = new Date(myDriveCtrl.tmStart);
        var endDate = new Date(myDriveCtrl.tmEnd);
        var title = "我的行车数据";
        var desc = "分享我的行车数据";
        var link = str.substring(0, str.lastIndexOf('/')) + "/myDrive.html?user=" + user + "&start=" + beginDate.toDateString() + "&end=" + endDate.toDateString();
        var pic = str.substring(0, str.lastIndexOf('/msite')) + "/data/drive_analyse.jpg";
        weixinShareFriend(title, desc, link, pic);
    }

    //将传回的油耗数据转换为图表控件所需格式
    function fuelChartDataConvert(data) {
        var fuelData = new Array();
        fuelData[0] = {};
        fuelData[0].color = "#c05020";
        fuelData[0].data = new Array();
        for (i = 0; i < data.length; i++) {
            fuelData[0].data[i] = {}
            fuelData[0].data[i].x = i;
            fuelData[0].data[i].y = parseFloat(data[i].fuel);
        }
        return fuelData;
    }

    //将传回的碳排放数据转换为图表控件所需格式
    function carbonChartDataConvert(data) {
        var carbonData = new Array();
        carbonData[0] = {};
        carbonData[0].color = "#c05020";
        carbonData[0].data = new Array();
        for (i = 0; i < data.length; i++) {
            carbonData[0].data[i] = {}
            carbonData[0].data[i].x = i;
            carbonData[0].data[i].y = parseFloat(data[i].carbon);
        }
        return carbonData;
    }

    //创建曲线图
    function createChart() {
        var fuel_graph = new Rickshaw.Graph({
            element: document.getElementById("fuel_chart"),
            renderer: 'line',
            height: 200,
            width: 260,
            series: fuelChartData
        });
        var fuel_y_ticks = new Rickshaw.Graph.Axis.Y({
            graph: fuel_graph,
            orientation: 'left',
            tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
            element: document.getElementById('fuel_y_axis')
        });
        fuel_graph.render();
        var carbon_graph = new Rickshaw.Graph({
            element: document.getElementById("carbon_chart"),
            renderer: 'line',
            height: 200,
            width: 260,
            series: carbonChartData
        });
        var carbon_y_ticks = new Rickshaw.Graph.Axis.Y({
            graph: carbon_graph,
            orientation: 'left',
            tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
            element: document.getElementById('carbon_y_axis')
        });
        carbon_graph.render();
        var drive_graph = new Rickshaw.Graph({
            element: document.getElementById("drive_chart"),
            renderer: 'line',
            height: 200,
            width: 260,
            series: behaviorChartData
        });
        var drive_y_ticks = new Rickshaw.Graph.Axis.Y({
            graph: drive_graph,
            orientation: 'left',
            tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
            element: document.getElementById('drive_y_axis')
        });
        drive_graph.render();
    }

    function dochart(result, ctrl){
        if (result.fuelData.length > 1) {
            // 单位转换
            for(var i in result.fuelData) result.fuelData[i].fuel = ctrl.$filter("l_per_100km")(result.fuelData[i].fuel);
            fuelChartData = fuelChartDataConvert(result.fuelData);
        }
        else{
            fuelChartData = fuelChartDataDemo;
        }
        document.getElementById("fuel_chart").innerHTML = "";
        document.getElementById("fuel_y_axis").innerHTML = "";

        if (result.carbonData.length > 1) {
            for(var i in result.carbonData) result.carbonData[i].carbon = ctrl.$filter("kg")(result.carbonData[i].carbon);
            carbonChartData = carbonChartDataConvert(result.carbonData);
        }
        else{
            carbonChartData = carbonChartDataDemo;
        }
        document.getElementById("carbon_chart").innerHTML = "";
        document.getElementById("carbon_y_axis").innerHTML = "";

        if (result.behaviorData.length > 1) {
            behaviorChartData = driveChartDataConvert(result.behaviorData);
        }
        document.getElementById("drive_chart").innerHTML = "";
        document.getElementById("drive_y_axis").innerHTML = "";

        createChart();
        pieChart(result.intervalSpeed.slow, result.intervalSpeed.middle, result.intervalSpeed.high);
        var colorBG = $('#wrap').css('background-color');
        $('svg>rect').attr('fill', colorBG);
    }

    //将传回的数据转换为图表控件所需格式
    function driveChartDataConvert(data) {
    var myData = new Array();
    for (var i = 0; i < 3; i++) {
        myData[i] = {};
        myData[i].data = new Array();
    }
    myData[0].color = "#c05020";
    myData[1].color = "#30c020";
    myData[2].color = "#6060c0";
    for (var i = 0; i < data.length; i++) {
        myData[0].data[i] = {};
        myData[0].data[i].x = i;
        myData[0].data[i].y = parseInt(data[i].behavior.speedup);
    }
    for (var i = 0; i < data.length; i++) {
        myData[1].data[i] = {};
        myData[1].data[i].x = i;
        myData[1].data[i].y = parseInt(data[i].behavior.speeddown);
    }
    for (var i = 0; i < data.length; i++) {
        myData[2].data[i] = {};
        myData[2].data[i].x = i;
        myData[2].data[i].y = parseInt(data[i].behavior.turn);
    }

    return myData;
}
    //本地数据，用于演示
    behaviorChartData = [
    {   data: [
        { x: 0, y: 0 },
        { x: 1, y: 0 },
        { x: 2, y: 0 },
        { x: 3, y: 0 },
        { x: 4, y: 0 }
    ],
        color: "#c05020"
    },
    {
        data: [
            { x: 0, y: 0 },
            { x: 1, y: 0 },
            { x: 2, y: 0 },
            { x: 3, y: 0 },
            { x: 4, y: 0 }
        ],
        color: "#30c020"
    },
    {
        data: [
            { x: 0, y: 0 },
            { x: 1, y: 0 },
            { x: 2, y: 0 },
            { x: 3, y: 0 },
            { x: 4, y: 0 }
        ],
        color: "#6060c0"
    }
];

    function pieChart(slow, middle, high) {
        var sum = slow + middle + high;
        if (sum != 0) {
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: false,
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        name: 'Browser share',
                        data: [
                            ['低速', returnFloat1(slow * 1.0 / sum)],
                            ['中速', returnFloat1(middle * 1.0 / sum)],
                            ['高速', returnFloat1(high * 1.0 / sum)]
                        ]
                    }
                ]
            });
        }
    }
    function returnFloat1(value) {
        value = Math.round(parseFloat(value) * 10) / 10;
        if (value.toString().indexOf(".") < 0)
            value = value.toString() + ".0";
        return Number(value);
    }
</script>

</body>
</html>
