<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="detectionApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="wx-share-pic" content="/data/car_checking.jpg"/>
    <title>远程检测</title>
    <link href="../mstyles/pagestyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/regsiterstyle.css" rel="stylesheet" type="text/css" />
    <link href="../mstyles/color.css" rel="stylesheet" type="text/css" />
    <script src="../mscripts/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="../mscripts/angular.js" type="text/javascript"></script>
    <script src="../mscripts/detection.js" type="text/javascript"></script>
</head>
<body>
<div id="wrap" ng-controller="myRemoteDetection">
    <div class="detection_top">
        <div class="detection_box">
            <div class="detection_text detection_text_{{currentInfo.faultLevel+1}}">
                {{resultShow}}
            </div>
            <div class="detection_button" ng-click="detecting()" bnDirective></div>
        </div>
    </div>
    <!--containe_250 start-->
    <div id="containe_250">
        <!--检测时间contentbox start-->
        <div class="contentbox">
            <div class="columnname">
                <div class="text_09">检测时间</div>
            </div>
            <div class="content">
                <div class="data-box">{{currentInfo.createTime}}</div>
            </div>
        </div><!--检测时间contentbox end-->
        <!--=============================================-->
        <!--检测结果contentbox start-->
        <div class="contentbox">
            <div class="columnname">
                <div class="text_09">检测结果</div>
            </div>
            <div class="content">
                <div class="data-box"><span class="text_bold">{{currentInfo.result}}:</span>{{currentInfo.title}}</div>
            </div>
        </div><!--检测结果contentbox end-->
        <!--=============================================-->
        <!--故障信息contentbox start-->
        <div class="contentbox">
            <div class="columnname">
                <div class="text_09">故障信息</div>
            </div>
            <div class="content">
                <div class="data-box">
                    <div ng-repeat="fault in currentInfo.fault">
                        <span class="text_bold">{{fault.code}}:</span>{{fault.desc}}<br />
                    </div>
                </div>
            </div>
        </div><!--故障信息contentbox end-->
        <!--=============================================-->
        <!--历史检测记录contentbox start-->
        <div class="contentbox">
            <div class="columnname">
                <div class="text_09">历史检测记录</div>
            </div>
            <div class="content">
                <div class="data-box">
                    <!--boxstyle_03 start-->
                    <div class="boxstyle_03 bgcolor_{{det.faultLevel+1}}" ng-repeat="det in historyList" ng-click="showDetail($index)">
                        <div class="textbox_01">{{det.createTime}}
                            <div ng-show="hisShow[$index]"><span class="text_bold">检测结果：</span>{{det.result}}<br /><span class="text_bold">故障信息：</span><span>{{det.faultShow}}</span></div>
                        </div>
                        <div class="arrow_1 arrow_1a"></div>
                        <div class="clear"></div>
                    </div><!--boxstyle_03 end-->
                </div>
            </div>
        </div><!--历史检测记录contentbox end-->
    </div><!--containe_250 end-->
</div><!--wrap end-->
</body>
</html>