<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="reportApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>测试</title>
    <link type="text/css" rel="stylesheet" href="../mstyles/graph.css">
    <link type="text/css" rel="stylesheet" href="../mstyles/lines.css">
    <link type="text/css" rel="stylesheet" href="../mstyles/pagestyle.css"  />
    <link type="text/css" rel="stylesheet" href="../mstyles/color.css"/>
    <link type="text/css" rel="stylesheet" href="../mstyles/menustyle.css"/>
    <script src="../mscripts/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="../mscripts/highchart4.0/highcharts.js" type="text/javascript"></script>
    <script src="../mscripts/angular.js" type="text/javascript"></script>
    <script src="../mscripts/report.js" type="text/javascript"></script>
    <style type="text/css">
        .selected{
            color: #FFF;
            background-color: #43454a;
        }
        .demoPic{
            width: auto;
            height: 360px;
            background: url('../mimages/img_06.jpg') no-repeat center 11px;
        }
    </style>
</head>
<body>
    <div id="wrap" ng-controller="myTravelReport">
        <!--menu_box start-->
        <div id="menu_box">
            <!--ULmenu start-->
            <ul class="menu" ng-show="!noData">
                <li ng-repeat="month in allMonths"><a id="menu_icon1" href="#" ng-class="{selected:$index==selectedRow}" ng-click="switchMonth($index)"><span class="nostyle01">{{month}}月</span></a></li>
            </ul>
            <div id="noData" ng-show="noData" class="text_11">亲，每月一日产生上月报告，现在没有你的用车报告!</div>
            <!--ULmenu end-->
            <div class="clear"></div>
        </div>
        <!--meun_box end-->
        <div class="clear"></div>
<!--main_wrap start-->
        <div id="main_wrap" ng-show="!noData">
            <div id="col0" style="width: 135px; height: 170px;float:left;margin-bottom: 5px;"></div>
            <div id="col1" style="width: 135px; height: 170px;float:left;margin-left: 5px;margin-bottom: 5px;"></div>
            <div id="col2" style="width: 135px; height: 170px;float:left;"></div>
            <div id="col3" style="width: 135px; height: 170px;float:left;margin-left: 5px;"></div>
        </div>
        <div class="demoPic" ng-show="noData"></div>
    <!--main_wrap end-->

    </div>
</body>
</html>