<!--活动信息列表 begin-->
<div class="widget-box margin_16">
    <div class="pad_l_r_60">
        <!--一行两个块时class="pad_l_r_j60";一行三个块时class="pad_46"-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseGOne/2">
                <div class="home_column">
                    <div class="datebox color_g">{{slotsCount}}<br/>条</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">已发布特价工位</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">特价工位到达创建时填写的发布时间。</td>
                            </tr>
                        </table>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#saveFuelMatch/2">
                <div class="home_column">
                    <div class="datebox color_g">{{saveFuelCount}}<br/>条</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">已发布的节油大赛</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">节油大赛到达创建时填写的发布时间。</td>
                            </tr>
                        </table>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <div class="clearfix"></div>
    </div>
</div>
<!--活动信息列表 end-->