<!--添加工位 start-->
<div class="widget-box" ng-show="slotAddDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>添加工位</h5>
    </div>
    <div class="widget-content">
        <form class="form-horizontal formstyle_box03">
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">工位信息：</label>
                <div class="controls pad_t_b_10">
                    <input type="text"  class="span11"  ng-model="slot_location" style="width:300px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">工位时间：</label>
                <div class="controls pad_t_b_10">
                    <input type="text"  class="span11" placeholder="格式:2014-06-23 15:20"  ng-model="slot_time" style="width:300px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">优惠内容：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11"  ng-model="benefit" style="width:300px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">发布时间：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11" placeholder="格式:2014-06-23 15:20"  ng-model="promotion_time"  style="width:300px;" />
                </div>
            </div>
            <div class="clearfix"></div>
            <!--button_box01 start-->
            <div class="button_box01">
                <button type="button" style="margin-right:40px;"  class="btn btn-large btn-success" ng-click="AddConfirm();">确&nbsp;&nbsp;定</button>
                <button type="button"  class="btn btn-large btn-danger"   ng-click="gotoBack(2)">取&nbsp;&nbsp;消</button>
            </div><!--button_box01 start-->
        </form>
    </div>
</div>
<!--添加工位 end-->
<!--修改工位start-->
<div class="widget-box" ng-show="slotModifyDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>修改工位</h5>
    </div>
    <div class="widget-content">
        <form class="form-horizontal formstyle_box03">
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">工位信息：</label>
                <div class="controls pad_t_b_10">
                    <input type="text"  class="span11" ng-model="slotDetail.slot_location" style="width:300px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">工位时间：</label>
                <div class="controls pad_t_b_10">
                    <input type="text"  class="span11"  ng-model="slotDetail.slot_time" style="width:300px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">优惠内容：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11"  ng-model="slotDetail.benefit" style="width:300px;" />
                </div>
            </div>
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">发布时间：</label>
                <div class="controls pad_t_b_10">
                    <input type="text" class="span11"  ng-model="slotDetail.promotion_time"  style="width:300px;" />
                </div>
            </div>
            <div class="clearfix"></div>
            <!--button_box01 start-->
            <div class="button_box01">
                <button type="button" style="margin-right:40px;"  class="btn btn-large btn-success" ng-click="ModifyConfirm();">确&nbsp;&nbsp;定</button>
                <button type="button"  class="btn btn-large btn-danger"   ng-click="gotoBack(1)">取&nbsp;&nbsp;消</button>
            </div><!--button_box01 start-->
        </form>
    </div>
</div>
<!--修改工位 end-->
<!--特价工位列表 begin-->
<div class="widget-box margin_16" ng-show="slotListDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>特价工位列表</h5>
        <button class="btn btn-success" style="float:right;margin:12px 30px 0 0;" ng-click="add();">+添加工位</button>
    </div>
    <div class="widget-content nopadding">
        <!--<table class="table table-bordered data-table">-->
        <table class="table table-bordered data-table">
            <thead>
            <tr class="bgcolor01">
                <th>工位信息</th>
                <th>工位时间</th>
                <th>优惠内容</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr class="gradeX" ng-repeat="slot in slots">
                    <td id="tdc">{{slot.slot_location}}</td>
                    <td id="tdc">{{slot.slot_time}}</td>
                    <td id="tdc">{{slot.benefit}}</td>
                    <td id="tdc">{{slot.promotion_time}}</td>
                    <td id="tdc">{{slot.promotion_status}}</td>
                    <td id="tdc" ng-show="slot.tdStyle1">
                        <a class="btn btn-info btn-mini" ng-click="modify($index);">修改</a>
                        <a class="btn btn-warning btn-mini" ng-click="delete($index);">删除</a>
                    </td>
                    <td id="tdc" ng-show="slot.tdStyle2">
                       -
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div><font color="red">{{tips}}</font></div>
    <div class="pagination alternate" style="float:right;">
        共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
        跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption" ng-change="changePage(changeId);">
        <option>1</option>
    </select>页
    </div>
</div>
<!--特价工位列表 end-->

