<!--活动信息列表 begin-->
<div class="widget-box" ng-show="newsListDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>活动信息列表</h5>
        <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="add();">+添加活动</a>
    </div>
    <div class="widget-content nopadding">
        <!--<table class="table table-bordered data-table">-->
        <table class="table table-bordered data-table">
            <thead>
            <tr>
                <th>编号</th>
                <th>活动标题</th>
                <th>活动内容</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>状态</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX">
                <td id="tdc">1</td>
                <td id="tdc">三八妇女节优惠活动</td>
                <td id="tdc" style="width:350px;">在活动期间来本店保养8折优惠，还有精美礼品赠送！</td>
                <td id="tdc">2014/03/06</td>
                <td id="tdc">2014/03/09</td>
                <td id="tdc">已创建</td>
                <td id="tdc">2013/03/05</td>
                <td id="tdc">
                    <a class="btn btn-primary btn-mini" ng-click="preview(1);">预览</a>
                    <a class="btn btn-info btn-mini" ng-click="modify(1);">修改</a>
                    <a class="btn btn-warning btn-mini" ng-click="cancelNews(1);">取消</a>
                </td>
            </tr>
            <tr class="gradeX">
                <td id="tdc">2</td>
                <td id="tdc">2周年店庆</td>
                <td id="tdc" style="width:350px;">在活动期间来本店保养8.8折优惠，还有精美礼品赠送！</td>
                <td id="tdc">2014/03/21</td>
                <td id="tdc">2014/04/01</td>
                <td id="tdc">已创建</td>
                <td id="tdc">2013/03/20</td>
                <td id="tdc">
                    <a class="btn btn-primary btn-mini" ng-click="preview(1);">预览</a>
                    <a class="btn btn-info btn-mini" ng-click="modify(1);">修改</a>
                    <a class="btn btn-warning btn-mini" ng-click="cancelNews(1)">取消</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--活动信息列表 end-->
<!--添加活动资讯 start-->
<div class="widget-box" ng-show="newsAddDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>添加活动资讯</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="form-horizontal">
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动名称：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" ng-model="match_name"  />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动介绍：</label>
                <div class="controls">
                    <textarea  style="width:185px;" rows="6"></textarea>
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">开始时间：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" ng-model="start_time" />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">结束时间：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" ng-model="end_time" />
                </div>
            </div>
            <div class="control-group" >
                <div  style="margin-left:435px;">标签： <input type="button" onclick="addTag(0);" value="+添加标签" class="btn btn-success btn-mini"></div>
                <div class="widget-content notify-ui" style="text-align: center">
                    <ul id="gritter-notify0" >
                        <li style="text-align: left;padding-left: 400px;">
                            <input type="checkbox" name="radios" />
                            <font style="font-weight: bold">全选</font>
                            <br/>
                            <font style="font-weight: bold">渠道：</font>
                            <input type="checkbox" name="radios" />
                            微信用户
                            <input type="checkbox" name="radios" />
                            客户端
                            <br/>
                            <font style="font-weight: bold">车系：</font>
                            <input type="checkbox" name="radios" />
                            S系
                            <br/>
                            <font style="font-weight: bold">用途：</font>
                            <input type="checkbox" name="radios" />
                            商用
                            <input type="checkbox" name="radios" />
                            家用
                            <br/>
                            <font style="font-weight: bold">用车时段：</font>
                            <input type="checkbox" name="radios" />
                            上下班
                            <input type="checkbox" name="radios" />
                            工作时
                            <input type="checkbox" name="radios" />
                            非工作时
                            <br/>
                            <font style="font-weight: bold">车龄：</font>
                            <input type="checkbox" name="radios" />
                            小于1年车龄
                            <input type="checkbox" name="radios" />
                            1-2年车龄
                            <input type="checkbox" name="radios" />
                            2-3年车龄
                            <input type="checkbox" name="radios" />
                            3-4年车龄
                            <input type="checkbox" name="radios" />
                            4-5年车龄
                            <input type="checkbox" name="radios" />
                            大于5年车龄
                            <br/>
                            <font style="font-weight: bold">用车频率：</font>
                            <input type="checkbox" name="radios" />
                            极低
                            <input type="checkbox" name="radios" />
                            低
                            <input type="checkbox" name="radios" />
                            中
                            <input type="checkbox" name="radios" />
                            高
                            <br/>
                            <font style="font-weight: bold">驾驶行为：</font>
                            <input type="checkbox" name="radios" />
                            稳健
                            <input type="checkbox" name="radios" />
                            中庸
                            <input type="checkbox" name="radios" />
                            狂野
                            <!--<br/>
                            <input type="button" value="删除" class="btn btn-danger btn-mini">-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="addConfirm();">创建</button>
                <button type="button" class="btn btn-danger"   ng-click="gotoBack(1)">取消</button>
            </div>
        </form>
    </div>
</div>
<!--添加活动资讯 end-->
<!--修改活动资讯 start-->
<div class="widget-box" ng-show="newsModifyDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>修改活动资讯</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="form-horizontal">
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动名称：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" ng-model="match_name"  />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动介绍：</label>
                <div class="controls">
                    <textarea  style="width:185px;" rows="6"></textarea>
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">开始时间：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" ng-model="start_time" />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">结束时间：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" ng-model="end_time" />
                </div>
            </div>
            <div class="control-group" >
                <div  style="margin-left:435px;">标签： <input type="button" onclick="addTag(1);" value="+添加标签" class="btn btn-success btn-mini"></div>
                <div class="widget-content notify-ui" style="text-align: center">
                    <ul id="gritter-notify1" >
                        <li style="text-align: left;padding-left: 400px;">
                            <input type="checkbox" name="radios" />
                            <font style="font-weight: bold">全选</font>
                            <br/>
                            <font style="font-weight: bold">渠道：</font>
                            <input type="checkbox" name="radios" />
                            微信用户
                            <input type="checkbox" name="radios" />
                            客户端
                            <br/>
                            <font style="font-weight: bold">车系：</font>
                            <input type="checkbox" name="radios" />
                            S系
                            <br/>
                            <font style="font-weight: bold">用途：</font>
                            <input type="checkbox" name="radios" />
                            商用
                            <input type="checkbox" name="radios" checked/>
                            家用
                            <br/>
                            <font style="font-weight: bold">用车时段：</font>
                            <input type="checkbox" name="radios" />
                            上下班
                            <input type="checkbox" name="radios" />
                            工作时
                            <input type="checkbox" name="radios" checked/>
                            非工作时
                            <br/>
                            <font style="font-weight: bold">车龄：</font>
                            <input type="checkbox" name="radios" />
                            小于1年车龄
                            <input type="checkbox" name="radios" />
                            1-2年车龄
                            <input type="checkbox" name="radios" />
                            2-3年车龄
                            <input type="checkbox" name="radios" checked/>
                            3-4年车龄
                            <input type="checkbox" name="radios" />
                            4-5年车龄
                            <input type="checkbox" name="radios" />
                            大于5年车龄
                            <br/>
                            <font style="font-weight: bold">用车频率：</font>
                            <input type="checkbox" name="radios" />
                            极低
                            <input type="checkbox" name="radios" />
                            低
                            <input type="checkbox" name="radios" checked/>
                            中
                            <input type="checkbox" name="radios" />
                            高
                            <br/>
                            <font style="font-weight: bold">驾驶行为：</font>
                            <input type="checkbox" name="radios" />
                            稳健
                            <input type="checkbox" name="radios" />
                            中庸
                            <input type="checkbox" name="radios"  checked/>
                            狂野
                            <!--<br/>
                            <input type="button" value="删除" class="btn btn-danger btn-mini">-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="modifyConfirm(1);">修改</button>
                <button type="button" class="btn btn-danger"   ng-click="gotoBack(2)">取消</button>
            </div>
        </form>
    </div>
</div>
<!--修改活动资讯 end-->
<!--活动预览 start-->
<div class="widget-box" ng-show="newsPreviewDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>活动预览</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="form-horizontal">
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动名称：</label>
                <div class="controls">
                    绿色出行，节油我看行
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动介绍：</label>
                <div class="controls">
                    活动介绍
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">发布时间：</label>
                <div class="controls">
                    2014-05-16 10:44
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">开始时间：</label>
                <div class="controls">
                    2014-05-16 10:44
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">结束时间：</label>
                <div class="controls">
                    2014-05-16 10:44
                </div>
            </div>
            <div class="control-group" >
                <div class="control-group" >
                    <label class="control-label" style="margin-left:300px;">标签：</label>
                    <div class="controls">
                        微信用户、S系、稳健型 or 客户端、S系、稳健型
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="publish();">发布</button>
                <button type="button" class="btn btn-danger"   ng-click="gotoBack(3)">取消</button>
            </div>
        </form>
    </div>
</div>
<!--活动预览 end-->