<!--活动信息列表 begin-->
<div class="widget-box" ng-show="newsListDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>活动信息列表</h5>
        <a class="btn btn-success" style="float:right;margin:3px 30px 0 0;" ng-click="add();">+添加活动</a>
    </div>
    <div class="widget-content nopadding">
        <!--<table class="table table-bordered data-table">-->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态： &nbsp;&nbsp;&nbsp;
                    <select style="width:150px;padding-left:15px;" ng-model="ser_status" ng-options="ss.id as ss.name for ss in statusSelect" >
                    </select></th>
                <th style="vertical-align: middle;">活动关键字：<input type="text" ng-model="ser_title" style="width:150px;"/></th>
                <th style="vertical-align: middle" ><button type="submit" class="btn btn-success" ng-click="SearchDriveInfo();">搜索</button></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="widget-content nopadding">
        <!--<table class="table table-bordered data-table">-->
        <table class="table table-bordered data-table">
            <thead>
            <tr>
                <th>活动标题</th>
                <th>创建时间</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" ng-repeat="al in activityList">
                <td id="tdc">{{al.title}}</td>
                <td id="tdc">{{al.tm_created}}</td>
                <td id="tdc">{{al.tm_announce}}</td>
                <td id="tdc">{{al.status_name}}</td>
                <td id="tdc" style="{{al.tdStyle1}}">
                    <a class="btn btn-primary btn-mini" ng-click="preview($index);">预览</a>
                    <a class="btn btn-info btn-mini" ng-click="modify($index);">修改</a>
                    <a class="btn btn-success btn-mini" ng-click="publishConfirm(al.id);">发布</a>
                    <a class="btn btn-danger btn-mini" ng-click="cancelNews(al.id,$index);">删除</a>
                </td>
                <td id="tdc" style="{{al.tdStyle2}}">
                    <a class="btn btn-primary btn-mini" ng-click="preview(1);">查看</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div><font color="red">{{tips}}</font></div>
    <div class="pagination alternate" style="float:right;">
        共{{totalCount}}条&nbsp;当前{{currentPage}}/{{totalPage}} &nbsp;
        跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId,'index');">
        <option>1</option>
    </select>页
    </div>
</div>
<!--活动信息列表 end-->
<!--添加活动资讯 start-->
<div class="widget-box" ng-show="newsAddDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>添加资讯信息</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="/wservice/upload" id="formId_edit2"  method="post"  class="form-horizontal" enctype="multipart/form-data">
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">封面图片：</label>
                <div class="controls">
                    <input type="file" id="edit_pro_img_3" name="edit_pro_img_3"  ng-model="logo_url"  onchange="changeImg(this,'edit_pro_img_3','formId_edit2','preview_3','imghead_3')"/>
                </div>
                <div style="margin-left:280px;"> </div>
                <div style="margin-left:280px;" style="float: left;" id="preview_3">
                    <img src="../../data/200x200.jpg" id="imghead_3" style="width:150px;height:150px;" />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">标题：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:380px;"   ng-model="title"  ng-change="tileChange()" />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">标题图片：</label>
                <div class="controls">
                    <input type="file" id="edit_pro_img" name="edit_pro_img"  ng-model="logo_url"  onchange="changeImg(this,'edit_pro_img','formId_edit2','preview','imghead')"/>
                </div>
                <div style="margin-left:280px;"> </div>
                <div style="margin-left:280px;" style="float: left;" id="preview">
                    <img src="../../data/200x200.jpg" id="imghead" style="width:150px;height:150px;" />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">正文：</label>
                <div class="controls">
                    <textarea id="content" name="content" style="visibility:hidden;" >请编写正文内容...</textarea>
                </div>
            </div>

            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">发布至如下车主：</label>
            </div>
            <div class="control-group" ng-repeat="group in tagsGroup">
                <label class="control-label" style="margin-left:100px;">{{group.groupName}}：</label>
                <div class="controls" >
                   <span  ng-repeat="tag in group.tags">
                       <input type="checkbox"  ng-model="tag.tagFlag"  />
                       {{tag.tagName}}&nbsp;&nbsp;
                   </span>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="addConfirm();">创建</button>
                <button type="button" class="btn btn-danger"   ng-click="gotoBack(1)">取消</button>
            </div>
        </form>
    </div>
</div>
<!--添加活动资讯 end-->
<!--修改活动资讯 start-->
<div class="widget-box" ng-show="newsModifyDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>修改资讯信息</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="/wservice/upload" id="formId_edit3"  method="post"  class="form-horizontal" enctype="multipart/form-data">
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">封面图片：</label>
                <div class="controls">
                    <input type="file" id="edit_pro_img_2" name="post_img" />
                </div>
                <div style="margin-left:280px;">{{titleMove}}</div>
                <img src="../../data/200x200.jpg" style="width:200px;height:100px;margin-left:280px;" />
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">标题：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:380px;"   ng-model="activityDetail.title"  ng-change="tileChange()" />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">标题图片：</label>
                <div class="controls">
                    <input type="file" id="edit_pro_img_1" name="title_img" onchange="changeImg(this,'edit_pro_img_1','formId_edit3','preview1','imghead1')" />
                </div>
                <div style="margin-left:280px;"> {{titleMove}}</div>
                <div style="margin-left:280px;" style="float: left;" id="preview1">
                    <img src="../../{{fuleMatchDetail.logo_url}}" id="imghead1" style="width:150px;height:150px;" />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">正文：</label>
                <div class="controls">
                    <textarea id="content_1" name="content" style="visibility:hidden;" ></textarea>
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:100px;">发布至如下车主：</label>
            </div>
            <div class="control-group" ng-repeat="group in tagsGroup">
                <label class="control-label" style="margin-left:100px;">{{group.groupName}}：</label>
                <div class="controls" >
                   <span  ng-repeat="tag in group.tags">
                       <input type="checkbox"  ng-model="tag.tagFlag"  />
                       {{tag.tagName}}&nbsp;&nbsp;
                   </span>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="modifyConfirm();">保存</button>
                <button type="button" class="btn btn-danger"   ng-click="gotoBack(2)">取消</button>
            </div>
        </form>
    </div>
</div>
<!--修改活动资讯 end-->
<!--活动预览 start-->
<div class="widget-box" ng-show="newsPreviewDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>活动预览</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="form-horizontal">
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动名称：</label>
                <div class="controls">
                    绿色出行，节油我看行
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">活动介绍：</label>
                <div class="controls">
                    活动介绍
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">发布时间：</label>
                <div class="controls">
                    2014-05-16 10:44
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">开始时间：</label>
                <div class="controls">
                    2014-05-16 10:44
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">结束时间：</label>
                <div class="controls">
                    2014-05-16 10:44
                </div>
            </div>
            <div class="control-group" >
                <div class="control-group" >
                    <label class="control-label" style="margin-left:300px;">标签：</label>
                    <div class="controls">
                        微信用户、S系、稳健型 or 客户端、S系、稳健型
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-success"  style="margin-left: 300px;"  ng-click="gotoBack(3)">确定</button>
            </div>
        </form>
    </div>
</div>
<!--活动预览 end-->