    <!--Service_reservation info Begin-->
        <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <!--<table class="table table-bordered data-table">-->
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th style="text-align: left;">已发布特价工位：<font color="blue">_</font>&nbsp;个</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td style="height:70px;">已发布的特价工位</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-info btn-mini" href="">查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <!--<table class="table table-bordered data-table">-->
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th style="text-align: left;">已发布的节油大赛：<font color="blue">_</font>&nbsp;条</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td style="height:70px;">已发布的节油大赛信息</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-info btn-mini" href="">查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">-->
            <!--<div class="widget-box">-->
                <!--<div class="widget-content nopadding">-->
                    <!--<table class="table table-bordered ">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="text-align: left;">待完成维修：<font color="blue">0</font>&nbsp;辆</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr class="gradeX">-->
                            <!--<td style="height:70px;">已确认预约，但未完成维修。</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td><a class="btn btn-info btn-mini" href="#/collapseGTwo">查看</a></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--Service_reservation info End-->
