<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="customerManage.html" class="">客户管理</a></div>
    </div>
    <div style="width: 10%;float: left;margin: 2px">
        <div class="accordion" id="collapse-group">
            <div class="accordion-group widget-box">
                <div class="accordion-heading">
                    <div class="widget-title"> <a  href="#collapseGOne" data-toggle="collapse" class="collapsed"> <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>全部车主</h5>
                    </a> </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-certificate"></i></span>
                        <h5 >微信车主</h5>
                    </a> </div>
                </div>
                <div class="collapse accordion-body" id="collapseGTwo">
                    <div class="widget-content" style="text-align: right;padding: 0">
                        <button class="btn btn-info" style="width: 100%;" >A组</button>
                        <button class="btn btn-info" style="width: 100%;">B组</button>
                        <button class="btn btn-info" style="width: 100%;">C组</button>
                        <button class="btn btn-info" style="width: 100%;">D组</button>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-globe"></i></span>
                        <h5 >APP车主</h5>
                    </a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="float: left;width: 86%">
        <div class="row-fluid" >
            <div class="span12">
                <!--main info Begin-->
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">全部客户：<font color="blue"><a href="" style="text-decoration: underline;">3</a></font>&nbsp;人</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">此4S店下所有车主</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="#/collapseGOne/1">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">微信车主：<font color="blue"><a href="" style="text-decoration: underline;">3</a></font>&nbsp;人</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">关注了微信服务号的所有车主</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="../repairInfo.html">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">APP车主：<font color="blue"><a href="" style="text-decoration: underline;">3</a></font>&nbsp;人</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">下载并注册了APP的用户</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="../repairInfo.html">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--main  info End-->
            </div>
        </div>
    </div>
</div>