<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="customerManage.html" class="">客户管理</a></div>
    </div>
    <div class="container-fluid">
    <div class="row-fluid" >
    <div style="width: 10%;float: left;margin: 2px">
        <div class="accordion" id="collapse-group" ng-controller="customerCtrl">
            <div class="accordion-group widget-box">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group"  href="#collapseGOne/{{randomTime}}" data-toggle="collapse" ng-click="changeTime();" > <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>渠道</h5>
                    </a> </div>
                    <div class="collapse accordion-body" id="collapseGOne">
                        <div class="widget-content" style="text-align: right;padding: 0">
                            <button class="btn btn-info" style="width: 100%;">微信</button>
                            <button class="btn btn-info" style="width: 100%;">客户端</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo/{{randomTime}}" data-toggle="collapse" ng-click="changeTime();"> <span class="icon"><i class="icon-certificate"></i></span>
                        <h5 >车系</h5>
                    </a> </div>
                </div>
                <div class="collapse accordion-body" id="collapseGTwo">
                    <div class="widget-content" style="text-align: right;padding: 0">
                        <button class="btn btn-info" style="width: 100%;">A系</button>
                        <button class="btn btn-info" style="width: 100%;">E系</button>
                        <button class="btn btn-info" style="width: 100%;">S系</button>
                        <button class="btn btn-info" style="width: 100%;">Y系</button>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree/{{randomTime}}" data-toggle="collapse" ng-click="changeTime();"> <span class="icon"><i class="icon-globe"></i></span>
                        <h5 >用途</h5>
                    </a> </div>
                    <div class="collapse in accordion-body" id="collapseGThree">
                        <div class="widget-content" style="text-align: right;padding: 0">
                            <button class="btn btn-info" style="width: 100%;">商用</button>
                            <button class="btn btn-info" style="width: 100%;">家用</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGFour/{{randomTime}}" data-toggle="collapse" ng-click="changeTime();"> <span class="icon"><i class="icon-globe"></i></span>
                        <h5 >车龄</h5>
                    </a> </div>
                    <div class="collapse accordion-body" id="collapseGFour">
                        <div class="widget-content" style="text-align: right;padding: 0">
                            <button class="btn btn-info" style="width: 100%;">小于一年</button>
                            <button class="btn btn-info" style="width: 100%;">1-2年</button>
                            <button class="btn btn-info" style="width: 100%;">2-3年</button>
                            <button class="btn btn-info" style="width: 100%;">3-4年</button>
                            <button class="btn btn-info" style="width: 100%;">4-5年</button>
                            <button class="btn btn-info" style="width: 100%;">大于5年</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGFive/{{randomTime}}" data-toggle="collapse" ng-click="changeTime();"> <span class="icon"><i class="icon-globe"></i></span>
                        <h5 >用车时段</h5>
                    </a> </div>
                    <div class="collapse accordion-body" id="collapseGFive">
                        <div class="widget-content" style="text-align: right;padding: 0">
                            <button class="btn btn-info" style="width: 100%;">上下班</button>
                            <button class="btn btn-info" style="width: 100%;">工作时</button>
                            <button class="btn btn-info" style="width: 100%;">非工作时</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGSix/{{randomTime}}" data-toggle="collapse" ng-click="changeTime();"> <span class="icon"><i class="icon-globe"></i></span>
                        <h5 >驾驶行为</h5>
                    </a> </div>
                    <div class="collapse accordion-body" id="collapseGSix">
                        <div class="widget-content" style="text-align: right;padding: 0">
                            <button class="btn btn-info" style="width: 100%;">稳健</button>
                            <button class="btn btn-info" style="width: 100%;">平庸</button>
                            <button class="btn btn-info" style="width: 100%;">狂野</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <h2 style="text-align: center;">正在开发中...</h2>
</div>
</div>
</div>