<!--活动信息列表 begin-->
<div class="widget-box margin_16" >
    <div class="pad_46">
        <!--一行两个块时class="pad_l_r_j60";一行三个块时class="pad_46"-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseG_1/ALL">
                <div class="home_column">
                    <div class="datebox color_b">{{carOwnerCount}}<br/>人</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">全部客户</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">此4S店下所有车主</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseG_6/6/chl2">
                <div class="home_column">
                    <div class="datebox color_b">{{weixinCount}}<br/>人</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">微信车主</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">关注了微信服务号的所有车主</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseG_6/6/chl1">
                <div class="home_column">
                    <div class="datebox color_b">{{appCount}}<br/>人</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">APP车主</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">此4S店下所有APP车主</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <div class="clearfix"></div>
    </div>
</div>
<!--活动信息列表 end-->