<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="customerManage.html" class="">客户管理</a></div>
    </div>
    <div class="container-fluid">
    <div class="row-fluid" >
    <div style="width: 10%;float: left;margin: 2px">
        <div class="accordion" id="collapse-group">
            <div class="accordion-group widget-box">
                <div class="accordion-heading">
                    <div class="widget-title"> <a  href="#collapseGOne" data-toggle="collapse" class="collapsed" ng-click="customerTab(0);"> <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>全部车主</h5>
                    </a> </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-certificate"></i></span>
                        <h5 >微信车主</h5>
                    </a> </div>
                </div>
                <!--<div class="collapse accordion-body" id="collapseGTwo">
                    <div class="widget-content" style="text-align: right;padding: 0">
                        <button class="btn btn-info" style="width: 100%;" >A组</button>
                        <button class="btn btn-info" style="width: 100%;">B组</button>
                        <button class="btn btn-info" style="width: 100%;">C组</button>
                        <button class="btn btn-info" style="width: 100%;">D组</button>
                    </div>
                </div>-->
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-globe"></i></span>
                        <h5 >APP车主</h5>
                    </a> </div>
                </div>

            </div>
        </div>
    </div>
        <h2 style="text-align: center;">正在开发中...</h2>
</div>
</div>
</div>