<!--remind info Begin-->
<div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
    <div class="widget-box">
        <div class="widget-content nopadding">
            <!--<table class="table table-bordered data-table">-->
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th style="text-align: left;">新产生保养提醒：<font color="blue">{{careCount}}</font>&nbsp;辆</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                    <td style="height:70px;">系统自动生成保养提醒</td>
                </tr>
                <tr>
                    <td><a class="btn btn-info btn-mini" href="#collapseGOne">查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
    <div class="widget-box">
        <div class="widget-content nopadding">
            <!--<table class="table table-bordered data-table">-->
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th style="text-align: left;">新碰撞提醒：<font color="blue">_</font>&nbsp;辆</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                    <td style="height:70px;">新产生的碰撞提醒。</td>
                </tr>
                <tr>
                    <td><a class="btn btn-info btn-mini" href="#">查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--remind info End-->
