<!--查看详情 begin-->
<div class="widget-box margin_16" ng-show="applyOperDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>保养提醒详情</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="tablestyle-01">车主姓名</th>
                <th class="tablestyle-02">{{carDetails.owner_nick}}</th>
                <th class="tablestyle-01">联系电话
                <th class="tablestyle-02">{{carDetails.owner_phone}}</th>
                <th class="tablestyle-01">终端编号</th>
                <th class="tablestyle-02">{{carDetails.obd_code}}</th>
            </tr>
            <tr>
                <th class="tablestyle-01">品牌</th>
                <th class="tablestyle-02">{{carDetails.brand}}</th>
                <th class="tablestyle-01">系列</th>
                <th class="tablestyle-02">{{carDetails.series}}</th>
                <th class="tablestyle-01">上次提醒时间</th>
                <th class="tablestyle-02">{{carDetails.last_care_time}}</th>
            </tr>
            <tr>
                <th class="tablestyle-01">上次保养里程</th>
                <th class="tablestyle-02">{{carDetails.max_mileage - carDetails.new_mileage}}</th>
                <th class="tablestyle-01">距上次保养</th>
                <th class="tablestyle-02">{{carDetails.new_hour/24 | number }} 天</th>
                <th colspan="2" class="tablestyle-01" rowspan="2" ng-show="buttonTh"><button class='btn btn-success'  ng-click='operationChild(1)'>已预约</button>
                        &nbsp;&nbsp;&nbsp;<button class='btn btn-success'  ng-click='operationChild(2)'>未预约</button></th>
                <th class="tablestyle-01" ng-show="remindMileTi">提醒时里程</th>
                <th class="tablestyle-02" ng-show="remindMileTe">{{carDetails.care_mileage}}</th>
            </tr>
            <tr ng-show="show5">
                <th class="tablestyle-01">提醒时间</th>
                <th class="tablestyle-02">{{carDetails.care_time}}</th>
                <th class="tablestyle-01">未预约原因</th>
                <th colspan="3" class="tablestyle-02">最近没有时间</th>
            </tr>
            <tr ng-show="show1">
                <th class="tablestyle-01">提醒时里程</th>
                <th class="tablestyle-02">9800</th>
                <th class="tablestyle-01">提醒时间</th>
                <th class="tablestyle-02">2014-04-04 13:00</th>
            </tr>
            <tr ng-show="show2">
                <th class="tablestyle-01">提醒时间</th>
                <th class="tablestyle-02">2014-04-04 13:00</th>
                <th class="tablestyle-01">预约保养时间</th>
                <th class="tablestyle-02">2014-04-04 13:00</th>
                <th colspan="2" class="tablestyle-01"></th>
            </tr>
            <tr ng-show="show3">
                <th class="tablestyle-01">提醒时间</th>
                <th class="tablestyle-02">2014-04-04 13:00</th>
                <th class="tablestyle-01">预约保养时间</th>
                <th class="tablestyle-02">2014-04-04 13:00</th>
                <th class="tablestyle-01">保养项目</th>
                <th class="tablestyle-02">车体保养</th>
            </tr>
            <tr ng-show="show4">
                <th class="tablestyle-01">保养费用</th>
                <th class="tablestyle-02">1000</th>
                <th class="tablestyle-01">保养开始时间</th>
                <th class="tablestyle-02">2014-04-04 13:00</th>
                <th class="tablestyle-01">保养结束时间</th>
                <th class="tablestyle-02">2014-04-04 17:00</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="widget-content" ng-show="alreadyReserDiv">
        <form class="form-horizontal formstyle_box03">
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">预约保养时间:</label>
                <div class="controls pad_t_b_10">
                    <input type="text"  class="span11"  ng-model="working_time" style="width:300px;" />
                </div>
            </div>
            <div class="clearfix"></div>
            <!--button_box01 start-->
            <div class="button_box01">
                <button type="button" style="margin-right:40px;"  class="btn btn-large btn-success" ng-click="confirmOper(1);">确&nbsp;&nbsp;定</button>
                <button type="button"  class="btn btn-large btn-danger"   ng-click="cancel(1)">取&nbsp;&nbsp;消</button>
            </div><!--button_box01 start-->
        </form>
    </div>
    <div class="widget-content" ng-show="refuseReasonDiv">
        <form class="form-horizontal formstyle_box03">
            <div class="control-group w_44 fl" >
                <label class="control-label pad_l20 w_100">原因:</label>
                <div class="controls pad_t_b_10">

                    <textarea ng-model="reason" style="width:300px;"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <!--button_box01 start-->
            <div class="button_box01">
                <button type="button" style="margin-right:40px;"  class="btn btn-large btn-success" ng-click="confirmOper(2);">确&nbsp;&nbsp;定</button>
                <button type="button"  class="btn btn-large btn-danger"   ng-click="cancel(2)">取&nbsp;&nbsp;消</button>
            </div><!--button_box01 start-->
        </form>
    </div>
</div>
<!--查看详情 end-->
<!--保养提醒列表 begin-->
<div class="widget-box margin_16" ng-show="maintainListDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>保养提醒列表</h5>
    </div>
   <!-- <div class="widget-content nopadding">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;城市： &nbsp;&nbsp;&nbsp;<select style="width:150px;">
                    <option>请选择</option>
                </select></th>
                <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4S店：&nbsp;&nbsp;&nbsp;<select style="width:150px;">
                    <option>请选择</option>
                </select></th>
                <th style="vertical-align: middle;">品牌：&nbsp;&nbsp;&nbsp;<select style="width:150px;">
                    <option>请选择</option>
                </select></th>
                <th  style="vertical-align: middle;"><a class="btn btn-success" style="" ng-click="">搜索</a></th>
            </tr>
            </thead>
        </table>
    </div>-->
    <div class="widget-content nopadding" >
        <!--<table class="table table-bordered data-table">-->
        <table class="table table-bordered">
            <thead>
            <tr class="bgcolor01">
                <th>车主姓名</th>
                <th>联系电话</th>
                <th>品牌</th>
                <th>车型</th>
                <th>上次保养里程</th>
                <th>提醒时里程</th>
                <th>提醒周期</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" ng-repeat="cl in carList">
                <td style="text-align: center">{{cl.owner_nick}}</td>
                <td style="text-align: center">{{cl.owner_phone}}</td>
                <td style="text-align: center">{{cl.brand}}</td>
                <td style="text-align: center">{{cl.series}}</td>
                <td style="text-align: center">{{cl.max_mileage - cl.new_mileage}}</td>
                <td style="text-align: center">{{cl.care_mileage}}</td>
                <td style="text-align: center">{{cl.care_hour}}</td>
                <td style="text-align: center">新提醒</td>
                <td style="text-align: center"><a class="btn btn-info btn-mini" ng-click="Operation($index,'新提醒')">查看</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div><font color="red">{{tips}}</font></div>
    <div class="pagination alternate" style="float:right;">
        共{{totalCount}}条&nbsp;页码{{currentPage}}/{{totalPage}} &nbsp;
        跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId);">
        <option>1</option>
    </select>页
    </div>
</div>
<!--保养提醒列表 end-->
<!--关怀记录 begin-->
<div class="widget-box margin_16" ng-show="careListDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>关怀记录列表</h5>
    </div>
    <div class="widget-content nopadding" >
        <!--<table class="table table-bordered data-table">-->
        <table class="table table-bordered">
            <thead>
            <tr class="bgcolor01">
                <th>车主姓名</th>
                <th>联系电话</th>
                <th>品牌</th>
                <th>车型</th>
                <th>车牌号</th>
                <th>提醒里程</th>
                <th>提醒周期</th>
                <th>提醒时间</th>
                <th>操作人</th>
                <th>状态</th>
                <th>理由</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" ng-repeat="cl in carList">
                <td style="text-align: center">{{cl.cust_nick}}</td>
                <td style="text-align: center">{{cl.cust_phone}}</td>
                <td style="text-align: center">{{cl.brand}}</td>
                <td style="text-align: center">{{cl.series}}</td>
                <td style="text-align: center">{{cl.license}}</td>
                <td style="text-align: center">{{cl.json_args.care_mileage}}</td>
                <td style="text-align: center">{{cl.json_args.care_hour}}</td>
                <td style="text-align: center">{{cl.log_time}}</td>
                <td style="text-align: center">{{cl.json_args.oper}}</td>
                <td style="text-align: center">{{cl.step}}</td>
                <td style="text-align: center">{{cl.json_args.reason}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div><font color="red">{{tips}}</font></div>
    <div class="pagination alternate" style="float:right;">
        共{{totalCount}}条&nbsp;页码{{currentPage}}/{{totalPage}} &nbsp;
        跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId);">
        <option>1</option>
    </select>页
    </div>
</div>
<!--关怀记录列表 end-->
