<!--活动信息列表 begin-->
<div class="widget-box margin_16" >
    <div class="pad_l_r_60">
        <!--一行两个块时class="pad_l_r_j60";一行三个块时class="pad_46"-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseGOne">
                <div class="home_column">
                    <div class="datebox color_y">{{careCount}}<br/>辆</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">新产生保养提醒</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">系统自动生成保养提醒</td>
                            </tr>
                        </table>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseGTwo/1">
                <div class="home_column">
                    <div class="datebox color_y">{{alarmCount}}<br/>辆</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">新产生碰撞提醒</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">根据车辆设置的报警值来判断车辆已经产生碰撞</td>
                            </tr>
                        </table>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->

        <div class="clearfix"></div>
    </div>
</div>
<!--活动信息列表 end-->