<div id="content" >
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="" class="">提醒信息</a> <a href="" class="">待保养提醒</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid" >
    <div style="width: 10%;float: left;margin: 2px">
        <div class="accordion" id="collapse-group">
            <div class="accordion-group widget-box">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse" class="collapsed"> <span class="icon"><i class="icon-info-sign"></i></span>
                        <h5>保养提醒</h5>
                    </a> </div>
                </div>
                <div class="accordion-body collapse" id="collapseGOne" style="height: 0px;">
                    <div class="widget-content" style="text-align: right;padding:0">
                        <button  class="btn btn-info" style="width: 100%;">新提醒</button>
                        <button  class="btn btn-info" style="width: 100%;">已处理</button>
                        <button  class="btn btn-info" style="width: 100%;">已预约</button>
                        <button  class="btn btn-info" style="width: 100%;">已保养</button>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-wrench"></i></span>
                        <h5 >故障提醒</h5>
                    </a> </div>
                </div>
                <!--<div class="collapse accordion-body" id="collapseGTwo">
                    <div class="widget-content" style="text-align: right;padding: 0">
                        <button  class="btn btn-info" style="width: 100%;">新提醒</button>
                        <button  class="btn btn-info" style="width: 100%;">已处理</button>
                        <button  class="btn btn-info" style="width: 100%;">已预约</button>
                        <button  class="btn btn-info" style="width: 100%;">已保养</button>
                    </div>
                </div>-->
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-tint"></i></span>
                        <h5 >保险提醒</h5>
                    </a> </div>
                </div>
                <div class="collapse accordion-body" id="collapseGThree" >
                    <div class="widget-content" style="text-align: right;padding: 0">
                        <button class="btn btn-info" style="width: 100%;">新提醒</button>
                        <button class="btn btn-info" style="width: 100%;">已处理</button>
                        <button class="btn btn-info" style="width: 100%;">已预约</button>
                        <button class="btn btn-info" style="width: 100%;">已保养</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="float: left;width: 86%">
        <div class="row-fluid" >
            <div class="span12">
                <!--remind info Begin-->
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">新产生保养提醒：<font color="blue">{{careCount}}</font>&nbsp;辆</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">系统自动生成保养提醒</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="#/collapseGOne">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">已处理保养提醒：<font color="blue">_</font>&nbsp;辆</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">已人工处理保养提醒。</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="../repairInfo.html">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">待处理故障提醒：<font color="blue">_</font>&nbsp;辆</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">系统自动生成故障提醒。</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="#/collapseGTwo">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">已处理故障提醒：<font color="blue">_</font>&nbsp;辆</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">已人工处理故障提醒。</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="#/collapseGTwo">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">保险到期提醒：<font color="blue">_</font>&nbsp;辆</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">系统自动生成保险到期提醒。</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="#/collapseGThree">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <!--<table class="table table-bordered data-table">-->
                            <table class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">已处理保险提醒：<font color="blue">_</font>&nbsp;辆</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td style="height:70px;">已人工处理保险提醒。</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-info btn-mini" href="#/collapseGThree">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--remind info End-->
            </div>
        </div>
    </div>
</div>
</div>
</div>