<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="" class="">提醒信息</a> <a href="" class="">保险提醒</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid" >
        <div style="width: 10%;float: left;margin: 2px">
            <div class="accordion" id="collapse-group">
                <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse" class="collapsed" ng-click="remindStatus(0)"> <span class="icon"><i class="icon-info-sign"></i></span>
                            <h5>保养提醒</h5>
                        </a> </div>
                    </div>
                    <div class="accordion-body collapse" id="collapseGOne" style="height: 0px;">
                        <div class="widget-content" style="text-align: right;padding:0">
                            <button  class="btn btn-info" style="width: 100%;" ng-click="remindStatus(1)">新提醒</button>
                            <button  class="btn btn-info" style="width: 100%;" ng-click="remindStatus(2)">已处理</button>
                            <button  class="btn btn-info" style="width: 100%;" ng-click="remindStatus(3)">已预约</button>
                            <button  class="btn btn-info" style="width: 100%;" ng-click="remindStatus(4)">已保养</button>
                        </div>
                    </div>
                </div>
                <div class="accordion-group widget-box" style="margin-top: 2px">
                    <div class="accordion-heading">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-wrench"></i></span>
                            <h5 >故障提醒</h5>
                        </a> </div>
                    </div>
                    <div class="collapse accordion-body" id="collapseGTwo">
                        <div class="widget-content" style="text-align: right;padding: 0">
                            <button  class="btn btn-info" style="width: 100%;">新提醒</button>
                            <button  class="btn btn-info" style="width: 100%;">已处理</button>
                            <button  class="btn btn-info" style="width: 100%;">已预约</button>
                            <button  class="btn btn-info" style="width: 100%;">已保养</button>
                        </div>
                    </div>
                </div>
                <div class="accordion-group widget-box" style="margin-top: 2px">
                    <div class="accordion-heading">
                        <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-tint"></i></span>
                            <h5 >保险提醒</h5>
                        </a> </div>
                    </div>

                </div>
            </div>
        </div>
        <h2 style="text-align: center;">正在开发中...</h2>
</div>
        </div>
    </div>