<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="" class="">预约服务</a></div>
    </div>
    <div class="container-fluid">
    <div class="row-fluid" >
    <div style="width: 13%;float: left;margin: 2px">
        <div class="accordion" id="collapse-group">
            <div class="accordion-group widget-box" >
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse" class="collapsed" ng-click="ReservationTab(0)"> <span class="icon"><i class="icon-magnet"></i></span>
                        <h5>保养预约</h5>
                    </a></div>
                </div>
                <div class="accordion-body collapse" id="collapseGOne" style="height: 0px;">
                    <div class="widget-content" style="text-align: right;padding:0">
                        <a class="btn btn-info" style="width: 100%;" ng-click="ReservationTab(1)">新申请</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="ReservationTab(2)">已拒绝</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="ReservationTab(3)">已确认</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="ReservationTab(4)">已完成</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="ReservationTab(5)">未到店</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="ReservationTab(6)">已取消</a>
                    </div>
                </div>
            </div>
            <div class="accordion-group widget-box" style="margin-top: 2px">
                <div class="accordion-heading">
                    <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-wrench"></i></span>
                        <h5 >维修预约</h5>
                    </a> </div>
                </div>
                <div class="collapse accordion-body" id="collapseGTwo">
                    <div class="widget-content" style="text-align: right;padding: 0">
                        <a class="btn btn-info" style="width: 100%;" ng-click="RepairTab(1)">新申请</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="RepairTab(2)">已拒绝</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="RepairTab(3)">已确认</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="RepairTab(4)">已完成</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="RepairTab(5)">未到店</a>
                        <a class="btn btn-info" style="width: 100%;" ng-click="RepairTab(6)">已取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="width: 83%;float: left">
        <div class="row-fluid" >
            <!--新申请操作 begin-->
            <div class="widget-box" ng-show="applyOperDiv">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>保养预约详情</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>车主姓名</th>
                            <th style="background-color:#F9F9F9;">王明青</th>
                            <th>联系电话
                            <th style="background-color:#F9F9F9;">13296630211</th>
                            </th>
                            <th >车牌号</th>
                            <th style="background-color:#F9F9F9;">京A9H044</th>
                        </tr>
                        <tr>
                            <th>车型</th>
                            <th style="background-color:#F9F9F9;">奔驰/Mercedes-Benz</th>
                            <th>车款</th>
                            <th style="background-color:#F9F9F9;">奔驰C级(进口)</th>
                            <th>申请渠道</th>
                            <th style="background-color:#F9F9F9;">微信预约</th>
                        </tr>
                        <tr>
                            <th>申请提交时间</th>
                            <th style="background-color:#F9F9F9;">2014-04-03 13:28</th>
                            <th>预约保养时间</th>
                            <th style="background-color:#F9F9F9;">2014-04-04 13:00</th>
                            <th colspan="2" ng-show="newApplyOper"><a class='btn btn-success'  ng-click=''>确认</a>&nbsp;&nbsp;&nbsp;<a class='btn btn-success'  ng-click=''>拒绝</a></th>
                            <th colspan="2" ng-show="completeOper"><a class='btn btn-success'  ng-click=''>取消</a>&nbsp;&nbsp;&nbsp;
                                                                         <a class='btn btn-success'  ng-click=''>未到店</a>&nbsp;&nbsp;&nbsp;
                                                                         <a class='btn btn-success'  ng-click='OperationChild(1);'>已完成</a></th>
                            <th ng-show="reservationProTi">保养项目</th>
                            <th ng-show="reservationProTe" style="background-color:#F9F9F9;">车体保养</th>
                            <th ng-show="cancelTimeTi">取消时间</th>
                            <th ng-show="cancelTimeTe" style="background-color:#F9F9F9;">2014-04-03 17:00</th>
                        </tr>
                        <tr ng-show="diffDiv">
                            <th style='height:30px;vertical-align: middle'>拒绝原因</th><th style='background-color:#F9F9F9;vertical-align: middle;text-align: left' colspan='5' rowspan='2'>工位已满</th>
                        </tr>
                        <tr ng-show="completeTr">
                            <th>保养费用</th>
                            <th style="background-color:#F9F9F9;">500</th>
                            <th>保养开始时间</th>
                            <th style="background-color:#F9F9F9;">2014-04-04 13:00</th>
                            <th>保养结束时间</th>
                            <th style="background-color:#F9F9F9;">2014-04-04 15:00</th>
                        </tr>

                        </thead>
                    </table>
                </div>
                <div class="widget-content nopadding" ng-show="ReservationInfo">
                    <form action="#" method="get" class="form-horizontal">
                        <div class="control-group" >
                            <label class="control-label" style="margin-left:300px;">保养项目：
                            </label>
                            <div class="controls">
                                <input type="text" class="span11" style="width:200px;" ng-model="acc_name"  />
                            </div>
                        </div>
                        <div class="control-group" >
                            <label class="control-label" style="margin-left:300px;">保养费用：
                            </label>
                            <div class="controls">
                                <input type="text" class="span11" style="width:200px;" ng-
                                       model="acc_name"  />
                            </div>
                        </div>
                        <div class="control-group" >
                            <label class="control-label" style="margin-left:300px;">保养开始时间：
                            </label>
                            <div class="controls">
                                <input type="text" class="span11" style="width:200px;" ng-
                                       model="acc_name"  />
                            </div>
                        </div>
                        <div class="control-group" >
                            <label class="control-label" style="margin-left:300px;">保养结束时间：
                            </label>
                            <div class="controls">
                                <input type="text" class="span11" style="width:200px;" ng-
                                       model="acc_name"  />
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" class="btn btn-success"  style="margin-left:300px;" ng-click="confirm();">确定</button>
                            <button type="button" class="btn btn-danger"   ng-click="cancel(1)">取消</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--新申请操作 end-->
            <!--预约服务列表 begin-->
            <div class="widget-box" ng-show="reservationDiv">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>保养预约列表</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车主姓名： &nbsp;&nbsp;&nbsp;
                                <input type="text" style="width:150px;">
                            </th>
                            <th style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车牌号：&nbsp;&nbsp;&nbsp;
                                <input type="text" style="width:150px;">
                            </th>
                            <th style="vertical-align: middle;">预约时间：&nbsp;&nbsp;&nbsp;
                                <input type="text" style="width:150px;">
                            </th>
                            <th  style="vertical-align: middle;"><a class="btn btn-success" style="" ng-click="">搜索</a></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>车主</th>
                            <th>联系电话</th>
                            <th>车型</th>
                            <th>车牌号</th>
                            <th>来源渠道</th>
                            <th>申请时间</th>
                            <th>预约时间</th>
                            <th>操作人</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="mt in reservationList">
                        <tr class="gradeX">
                            <td style="text-align: center">{{$index + 1}}</td>
                            <td style="text-align: center">{{mt.test1}}</td>
                            <td style="text-align: center">{{mt.test2}}</td>
                            <td style="text-align: center">{{mt.test3}}</td>
                            <td style="text-align: center">{{mt.test4}}</td>
                            <td style="text-align: center">{{mt.test5}}</td>
                            <td style="text-align: center">{{mt.test6}}</td>
                            <td style="text-align: center">{{mt.test7}}</td>
                            <td style="text-align: center">{{mt.test8}}</td>
                            <td style="text-align: center">{{mt.test9}}</td>
                            <td style="text-align: center"><input type="button" class="btn btn-info btn-mini" value="查看" ng-click="Operation($index,mt.test9);"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                  <div class="pagination alternate" style="float:right;">
                      共{{totalCount}}条&nbsp;页码{{currentPage+1}}/{{totalPage}} &nbsp;
                      跳转至<select style="width:50px;" ng-model="changeId" ng-options="to.size as to.size for to in totalOption"ng-change="changePage(changeId);">
                      <option>1</option>
                  </select>页
                  </div>
            </div>
            <!--预约服务列表 end-->
        </div>
    </div>
</div>
</div>
</div>
</div>