<!--活动信息列表 begin-->
<div class="widget-box margin_16">
    <div class="pad_46">
        <!--一行两个块时class="pad_l_r_j60";一行三个块时class="pad_46"-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseGOne/applied">
                <div class="home_column">
                    <div class="datebox color_b">{{applyCount}}<br/>辆</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">待处理保养申请</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">车主已提出保养预约申请，未确认预约。</td>
                            </tr>
                        </table>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseGOne/approved">
                <div class="home_column">
                    <div class="datebox color_b">{{approveCount}}<br/>辆</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">待完成保养</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">已确认预约，但未完成保养。</td>
                            </tr>
                        </table>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <!--home_columnbox start-->
        <div class="home_columnbox">
            <a href="#collapseGTwo/{{randomTime}}">
                <div class="home_column">
                    <div class="datebox color_b">{{drivetryCount}}<br/>辆</div>
                    <div class="column_mainbox">
                        <table width="172" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="35" valign="bottom"><span class="title">待处理试乘试驾申请</span></td>
                            </tr>
                            <tr>
                                <td height="105" valign="middle">车主已提出试乘试驾预约申请，未确认预约。</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div><!--home_columnbox end-->
        <div class="clearfix"></div>
    </div>
</div>
<!--活动信息列表 end-->