<!--设置联系信息begin-->
<div class="widget-box" ng-show="modifyDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>修改联系信息</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="/wservice/upload" id="formId_edit2"  method="post"  class="form-horizontal" enctype="multipart/form-data">
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">地址：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" name="address" ng-model="s4.address"  />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">热线：</label>
                <div class="controls">
                    <input type="text" class="span11" style="width:200px;" name="hotline" ng-model="s4.hotline"  />
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" style="margin-left:300px;">图片：</label>
                <div class="controls">
                    <input type="file" id="edit_pro_img" name="edit_pro_img"  ng-model="s4.logo_url"  onchange="changeImg(this,'edit_pro_img','formId_edit2','preview','imghead')"/>
                </div>
                <div style="margin-left:480px;"> </div>
                <div style="margin-left:480px;" style="float: left;" id="preview">
                    <img src="../../{{s4.logo_url}}" id="imghead" style="width:150px;height:150px;" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button"  class="btn btn-success"  style="margin-left:300px;" ng-click="modifyConfirm();">保存</button>
                <button type="button"  class="btn btn-danger"   ng-click="gotoBack(1)">取消</button>
            </div>
        </form>
    </div>
</div>
<!--设置联系信息end-->
<!--联系人列表 begin-->
<div class="widget-box" ng-show="settingListDiv">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>联系人列表</h5>
    </div>
    <div class="widget-content nopadding">
        <!--<table class="table table-bordered data-table">-->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>地址</th>
                <th>热线</th>
                <th>图片</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX">
                <td id="tdc">{{s4.address}}</td>
                <td id="tdc">{{s4.hotline}}</td>
                <td id="tdc"><img src="../../{{s4.logo_url}}" width="200px;" height="200px" /></td>
                <td id="tdc">
                    <a class="btn btn-info btn-mini" ng-click="modify();">修改</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--联系人列表 end-->