    <!--Service_reservation info Begin-->
        <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <!--<table class="table table-bordered data-table">-->
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th style="text-align: left;">待处理保养申请：<font color="blue"></font>&nbsp;辆</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td style="height:70px;">车主已提出保养预约申请，未确认预约。</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-info btn-mini" href="#/collapseGOne/1">查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <!--<table class="table table-bordered data-table">-->
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th style="text-align: left;">待完成保养：<font color="blue"></font>&nbsp;辆</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td style="height:70px;">已确认预约，但未完成保养。</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-info btn-mini" href="#/collapseGOne/2">查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <!--<table class="table table-bordered data-table">-->
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th style="text-align: left;">待处理维修申请：<font color="blue">0</font>&nbsp;辆</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td style="height:70px;">车主已提出维修预约申请，未确认预约。</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-info btn-mini" href="#/collapseGTwo">查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="span2" style="width: 40%;height: 50%;margin-left: 70px;">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <!--<table class="table table-bordered data-table">-->
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th style="text-align: left;">待完成维修：<font color="blue">0</font>&nbsp;辆</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td style="height:70px;">已确认预约，但未完成维修。</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-info btn-mini" href="#/collapseGTwo">查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Service_reservation info End-->
