* {
	color: #3b3b3b;
}
.button_bg {
	background-image: url(../mimages/button_bg-a.png);
}
.searchbox {
	/* [disabled]background-color: #FC9; */
}
.text_01 {
	color: #333;
}
.text_02 {
	color: #333;
}
h1 {
	/*正文标题*/
	color: #FFF;
}
h2 {
	/*列表标题*/
	color: #333;
}
.text_03 {
	color: #FFF;
}
.text_05 {
	/*发布时间和部门*/
	color: #666;
}
.text_06 {
	color: #333;
}
a.text_07 {
	color: #FFF;
	background-image: url(../mimages/button_03.png);
}
.text_09 {
	/*我的活动和我的预约页面三角后面的文字部分*/
	color: #FFF;
	background-color: #43454a;
}
.text_10 {
	/*我的预约显示取消操作的文字颜色*/
	color: #43454a;
}
.text_10:hover   {
	color: #FFF;
}
.text_11 {
	color: #f4ad21;
}

.nostyle01 {
	color: #FFF;
}
.button01,.button02 {
	color: #FFF;
}.button01 {
	background-color: #43454a;
	border-top-color: #6f727a;
}
.button02 {
	background-color: #43454a;
	border-top-color: #6f727a;
}
.button03 {
	background-image: url(../mimages/icon_08.png);
}
.button03 a{
	background-color: #dbdee5;
}
#wrap {
	background-color: #b5b7bc;
	/* [disabled]background-image: url(../mimages/top_bg.jpg); */
}
/*.tablehead01 li ,.tablehead02 li{
	background-color: #be8b1d;
	border-top-color: #a97300;
}
.tablehead01 li span ,.tablehead02 li span{
	color: #FFF;
	border-right-color: #aa7300;
	border-left-color: #e9a006;
}
.tablebox01 .rows01 li ,.tablebox02 .rows01 li{
	background-color: #eee3cb;
}
.tablebox01 .rows02 li ,.tablebox02 .rows02 li{
	background-color: #f1d79e;
}
.tablebox02 .rows01 li span, .tablebox02 .rows02 li span {
	border-right-color: #FFFF97;
	border-left-color: #F7AD71;
}*/
.icon_4a {
	background-image: url(../mimages/icon_04a.png);
}
.icon_4b {
	background-image: url(../mimages/icon_04b.png);
}
.icon_5a {
	background-image: url(../mimages/icon_05a.png);
}
.icon_5b {
	background-image: url(../mimages/icon_05b.png);
}
.icon_6a{
	background-image: url(../mimages/icon_06a-a.png);
}
.icon_6b{
	background-image: url(../mimages/icon_06b-a.png);
}
.img_01 {
	background-image: url(../mimages/img_01-a.png);/*预约保养主图*/
	border-bottom-color: #29292C;/*预约保养主图下边线*/
}
.img_04 {
	background-image: url(../mimages/img_04-a.png);/*预约试驾主图*/
	border-bottom-color: #29292C;/*预约试驾主图下边线*/
}
.line_img02 {
	background-image: url(../mimages/line_img02.png);
}
.boxstyle01 {
	/*行车分析中的括号线*/
	background-image: url(../mimages/icon_01-a.png);
}
#mainbox1 ,#mainbox2,#mainbox3,#mainbox4{
	/* [disabled]background-color: #3CC; */
}
.listbox01 {
	background-color: #FFF;
}
.listbox01 .imgbox02a {
	/*活动列表图片外框颜色*/
	background-color: #43454a;
}
.p_title li span {
	/*正方中的分隔线颜色*/
	color: #43454a;
}
.paperbox {
	/*行车手册*/
	background-image: url(../mimages/paper_bg2-a.png);
}
.paperbox .paperbox_bgtop {
	/*行车手册*/
	background-image: url(../mimages/paper_bg1-a.png);
}
.paperbox .paperbox_bgtop .paperbox_main {
	/*行车手册*/
	background-image: url(../mimages/paper_bg3-a.png);
	color: #999;
}
#wrap #pagename {
	color: #333;
}
#wrap #datebox_01 {
	/*日期区背景颜色*/
	background-color: #cccccc;
}
#wrap #datebox_01 ul {
	/* [disabled]background-color: #F93; */
}
#wrap #datebox_01 ul li .w108 {
	/*日期小图标*/
	background-image: url(../mimages/date_icon-a.jpg);
}
#wrap #main_wrap {
	/* [disabled]background-color: #3CF; */
}
#containe_280 {
	/* [disabled]background-color: #699; */
}
#containe_290 {
	/* [disabled]background-color: #699; */
}

#containe_100 {
	/* [disabled]background-color: #C30; */
}

.contentboxstyle01 {
	/*预约保养表单区背景颜色和上边线颜色*/
	background-color: #43454a;
	border-top-color: #76777C;
}
.formstyle01 li{
	color: #FFF;
}
.listbox01 .mainbox01 {
	/* [disabled]background-color: #6CF; */
}
/*行车分析 菜单 start*/
#wrap #menu_box {
	background-color: #77787b;/*菜单单项普通状态背景颜色*/
	background-image: url(../mimages/menu_shadow.jpg);	/*菜单下边阴影图片*/
	border-top-color: #000;/*菜单上边线线颜色*/
}
#wrap #menu_box ul {
	/* [disabled]background-color: #CC0; */
	display: block;
}

#wrap #menu_box ul li{
	/* [disabled]background-color: #6CC; */
}
#wrap #menu_box ul.menu li a {
	/*菜单项分隔线颜色*/
	border-right-color: #39393b;
	border-left-color: #929397;
}
.menu_icon1a,.menu_icon2a,.menu_icon3a,.menu_icon4a {
	/*菜单项普通状态文字颜色*/
	color: #cccccc;
}
.menu_icon1b,.menu_icon2b,.menu_icon3b,.menu_icon4b {
	/*菜单项当前选择状态背景和文字颜色*/
	color: #FFF;
	background-color: #43454a;
}
.menu_icon1a {
	background-image: url(../mimages/menu_icon1a.png);
}
.menu_icon2a {
	background-image: url(../mimages/menu_icon2a.png);
}

.menu_icon3a {
	background-image: url(../mimages/menu_icon3a.png);
}
.menu_icon4a {
	background-image: url(../mimages/menu_icon4a.png);
}

.menu_icon1b {
	background-image: url(../mimages/menu_icon1b.png);
}
.menu_icon2b {
	background-image: url(../mimages/menu_icon2b.png);
}
.menu_icon3b {
	background-image: url(../mimages/menu_icon3b.png);
}
.menu_icon4b {
	background-image: url(../mimages/menu_icon4b.png);
}

/*行车分析 导航 end*/
/*regsiter and containe_250(我的活动、我的预约) start*/
#regsitercontaine,#containe_250 {
	/*左边竖线*/
	background-image: url(../mimages/line_img-a.png);
	/* [disabled]background-color: #C9C; */
	/* [disabled]padding-top: 14px; */
}
#regsitercontaine .contentbox,#containe_250 .contentbox {
	/*左边小图标*/
	background-image: url(../mimages/icon_02-a.png);
}
#regsitercontaine .contentbox .columnname,#containe_250 .contentbox .columnname {
	/*三角型*/
	background-image: url(../mimages/icon_03-a.png);
}
#regsitercontaine .contentbox .columnname div{
	/*三角型后面的文字部分*/
	background-color: #43454a;
	color: #FFF;
}
#regsitercontaine .contentbox .content li,#containe_250 .contentbox .content li {
	/* [disabled]background-color: #0CF; */
}

#containe_250 .contentbox .content{
    /* [disabled]background-color: #F00; */
}
/*regsiter and containe_250(我的活动、我的预约) end*/
