* {
	color: #3b3b3b;
}
.button_bg {
	background-image: url(../mimages/button_bg.png);
}
.searchbox {
	/* [disabled]background-color: #FC9; */
}
.text_01 {
	color: #F00;
}
.text_02 {
	color: #c2973c;
}
h1 {
	color: #333;
}

.text_03 {
	color: #FFF;
}
.text_05 {
	color: #999;
}
.text_06 {
	color: #666;
}
a.text_07 {
	color: #FFF;
	background-image: url(../mimages/button_03.png);
}
.text_09 {
	color: #FFF;
	background-color: #c2973c;
}
.text_10 {
	color: #CDA95F;
}
.text_10:hover   {
	color: #8F6F2C;
}
.nostyle01 {
	color: #FFF;
}
.button01,.button02 {
	color: #FFF;
}.button01 {
	background-color: #be8b1d;
	border-top-color: #daac4c;
}
.button02 {
	background-color: #1abb9c;
	border-top-color: #00f1c3;
}
#wrap {
	background-color: #efefef;
	background-image: url(../mimages/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
/*.tablehead01 li ,.tablehead02 li{
	background-color: #be8b1d;
	border-top-color: #a97300;
}
.tablehead01 li span ,.tablehead02 li span{
	color: #FFF;
	border-right-color: #aa7300;
	border-left-color: #e9a006;
}
.tablebox01 .rows01 li ,.tablebox02 .rows01 li{
	background-color: #eee3cb;
}
.tablebox01 .rows02 li ,.tablebox02 .rows02 li{
	background-color: #f1d79e;
}
.tablebox02 .rows01 li span, .tablebox02 .rows02 li span {
	border-right-color: #FFFF97;
	border-left-color: #F7AD71;
}*/
.icon_4a {
	background-image: url(../mimages/icon_04a.png);
}
.icon_4b {
	background-image: url(../mimages/icon_04b.png);
}
.icon_5a {
	background-image: url(../mimages/icon_05a.png);
}
.icon_5b {
	background-image: url(../mimages/icon_05b.png);
}
.icon_6a{
	background-image: url(../mimages/icon_06a.png);
}
.icon_6b{
	background-image: url(../mimages/icon_06b.png);
}
.img_01 {
	background-image: url(../mimages/img_01.png);
	border-bottom-color: #aa7300;
}
.img_04 {
	background-image: url(../mimages/img_04.png);
	border-bottom-color: #aa7300;
}
.line_img02 {
	background-image: url(../mimages/line_img02.png);
}
.boxstyle01 {
	background-image: url(../mimages/icon_01.png);
}
#mainbox1 ,#mainbox2,#mainbox3,#mainbox4{
	/* [disabled]background-color: #3CC; */
}
.listbox01 {
	background-color: #FFF;
}
.listbox01 .imgbox02a {
	background-color: #c2973b;
}
.p_title li span {
	color: #00a585;
}
.paperbox {
	background-image: url(../mimages/paper_bg2.png);
}
.paperbox .paperbox_bgtop {
	background-image: url(../mimages/paper_bg1.png);
}
.paperbox .paperbox_bgtop .paperbox_main {
	background-image: url(../mimages/paper_bg3.png);
	color: #999;
}
#wrap #pagename {
	color: #333;
}
#wrap #datebox_01 {
	background-color: #FFF;
}
#wrap #datebox_01 ul {
	background-color: #F93;
}
#wrap #datebox_01 ul li .w108 {
	background-image: url(../mimages/date_icon.jpg);
}
#wrap #main_wrap {
	/* [disabled]background-color: #3CF; */
}
#containe_280 {
	/* [disabled]background-color: #699; */
}
#containe_290 {
	/* [disabled]background-color: #699; */
}

#containe_100 {
	/* [disabled]background-color: #C30; */
}

.contentboxstyle01 {
	background-color: #be8b1d;
	border-top-color: #e9a006;
}
.formstyle01 li{
	color: #FFF;
}
.listbox01 .mainbox01 {
	/* [disabled]background-color: #6CF; */
}
/*行车分析 导航 start*/
#wrap #menu_box {
	background-color: #c2973c;
	background-image: url(../mimages/menu_shadow.jpg);
	border-top-color: #a97300;
}
#wrap #menu_box ul {
	/* [disabled]background-color: #CC0; */
	display: block;
}

#wrap #menu_box ul li{
	/* [disabled]background-color: #6CC; */
}
#wrap #menu_box ul.menu li a {
	border-right-color: #aa7300;
	border-left-color: #e9a006;
}
.menu_icon1a,.menu_icon2a,.menu_icon3a,.menu_icon4a {
	color: #875c00;
}
.menu_icon1b,.menu_icon2b,.menu_icon3b,.menu_icon4b {
	color: #FFF;
	background-color: #be8b1d;
}
.menu_icon1a {
	background-image: url(../mimages/menu_icon1a.png);
}
.menu_icon2a {
	background-image: url(../mimages/menu_icon2a.png);
}

.menu_icon3a {
	background-image: url(../mimages/menu_icon3a.png);
}
.menu_icon4a {
	background-image: url(../mimages/menu_icon4a.png);
}

.menu_icon1b {
	background-image: url(../mimages/menu_icon1b.png);
}
.menu_icon2b {
	background-image: url(../mimages/menu_icon2b.png);
}
.menu_icon3b {
	background-image: url(../mimages/menu_icon3b.png);
}
.menu_icon4b {
	background-image: url(../mimages/menu_icon4b.png);
}

/*行车分析 导航 end*/
/*regsiter and containe_250(我的活动、我的预约) start*/
#regsitercontaine,#containe_250 {
	background-image: url(../mimages/line_img.png);
	/* [disabled]background-color: #C9C; */
	/* [disabled]padding-top: 14px; */
}
#regsitercontaine .contentbox,#containe_250 .contentbox {
	background-image: url(../mimages/icon_02.png);
}
#regsitercontaine .contentbox .columnname,#containe_250 .contentbox .columnname {
	background-image: url(../mimages/icon_03.png);
}
#regsitercontaine .contentbox .columnname div{
	background-color: #c2973c;
	color: #FFF;
}
#regsitercontaine .contentbox .content li,#containe_250 .contentbox .content li {
	/* [disabled]background-color: #0CF; */
}

#containe_250 .contentbox .content{
    /* [disabled]background-color: #F00; */
}
/*regsiter and containe_250(我的活动、我的预约) end*/
