* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	list-style-type: none;
}
a {
	text-decoration: none;
}
a img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.clear {
	clear: both;
	height: 0px;
	overflow: hidden;
}
.float {
	float: left;
}
.cover {
    height: 600px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.upbox_wrap {
    position: absolute;
    left: 0px;
    top: 160px;
    width: 100%;
}
.upbox_wrap .upbox{
    -webkit-border-radius:8px;
    border-radius:8px;
    min-height:120px;
    _height:120px;
    width: 220px;
    border: 3px solid;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
.close_icon {
    height: 16px;
    width: 100%;
    text-align: right;
}
.center {
	text-align: center;
}

.button01,.button02 {
	line-height: 28px;
	background-repeat: no-repeat;
	height: 28px;
	width: 96px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-radius:5px;
}
.button03 {
	background-repeat: no-repeat;
	background-position: 10px top;
	padding-top: 5px;
	display: block;
	width: 33%;
	float: left;
}
.button03 a{
	display: block;
	width: 56px;
	text-align: center;
	line-height: 18px;
}
.button_bg {
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	height: 56px;
	padding-top: 40px;
}
.searchbox {
	width: 248px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 20px;
}
.searchbox input {
	height: 23px;
	width: 208px;
	margin-right: 5px;
	line-height: 23px;
	margin-top: 4px;
	margin-bottom: 4px;
}


h1,h2 {
	font-size: 14px;
	line-height: 32px;
}
h6 {
	font-size: 12px;
	font-weight: normal;
}

p {
	line-height: 16px;
}
.paperbox {
	background-repeat: repeat-y;
	width: 290px;
}
.paperbox .paperbox_bgtop {
	background-repeat: no-repeat;
	background-position: top;
	width: 290px;
}
.paperbox .paperbox_bgtop .paperbox_main {
	background-repeat: no-repeat;
	background-position: bottom;
	width: 260px;
	min-height:260px;
	_height:260px;
	padding: 15px;
	line-height: 18px;
}
.text_bold {
	font-weight: bold;
}

.text_01 {
	line-height: 20px;
	text-align: center;
}
.text_01 span {
	font-weight: bold;
}
.text_02 {
	font-size: 11px;
	line-height: 14px;
}
.text_03 {
	line-height: 30px;
	text-align: center;
	display: block;
}
.text_04 {
	line-height: 28px;
}
a.text_07 {
	background-repeat: no-repeat;
	text-align: center;
	/* [disabled]display: block; */
	/* [disabled]height: 20px; */
	/* [disabled]width: 86px; */
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
}
.text_08 {
	letter-spacing: 8px;
}
.text_09 {

}
.text_10 {

}
.text_11 {
	line-height: 50px;
	text-align: center;
}
.text_12 {
    line-height: 22px;
    text-indent: 2em;
}
.nostyle01 {
	text-shadow:none;
	font-size: 14px;
	font-weight: normal;
}

.icon_4a ,.icon_4b,.icon_5a,.icon_5b{
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height: 28px;
	width: 100%;
}
.icon_6a ,.icon_6b{
	background-repeat: no-repeat;
	height: 31px;
	width: 5px;
}
.icon_6a{
	background-position: left top;
}
.icon_6b{
	background-position: right top;
}
.img_01 {
	background-repeat: no-repeat;
	height: 162px;
	width: 280px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.img_04 {
	background-repeat: no-repeat;
	height: 162px;
	width: 280px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.imgbox01 {
	padding-top: 16px;
}
.imgbox01 img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.line_img02 {
	background-repeat: repeat-x;
	background-position: center;
	height: 40px;
	width: 111px;
}
.boxstyle01 {
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 6px;
	width: 86px;
	text-align: right;
	float: left;
	line-height: 54px;
}


.boxstyle02 {
	float: left;
	padding-left: 10px;
}
.boxstyle02 li {
	list-style-type: none;
	line-height: 18px;
}
#mainbox1 ,#mainbox2,#mainbox3,#mainbox4{
	margin-right: auto;
	margin-left: auto;
	width: 286px;
}
.w108 {
	width: 108px;
}
.w132 {
	width: 132px;
}

.w137 {
	width: 137px;
}
.w190 {
	width: 190px;
	height: 18px;
}


.w10 {
	width: 10px;
}
.h8 {
	height: 8px;
}



#wrap {
	width: 100%;
	min-height:600px;
	_height:600px;
	background-repeat: repeat-x;
	background-position: top;
}
#wrap #pagename {
	font-weight: bold;
	font-size: 16px;
	line-height: 36px;
	font-family: "黑体";
	text-align: center;
	padding-top: 10px;
}
#wrap #datebox_01 {
	padding-top: 8px;
	/* [disabled]padding-right: 14px; */
	padding-bottom: 8px;
	/* [disabled]padding-left: 14px; */
}
#wrap #datebox_01 ul {
	display: block;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

#wrap #datebox_01 ul li {
	float: left;
	line-height: 19px;
}
#wrap #datebox_01 ul li .w108 {
	background-position: right center;
	background-repeat: no-repeat;
	height: 19px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#wrap #main_wrap {
	padding: 14px;
	min-height:252px;
	_height:252px;

}
#containe_280 {
	width: 280px;
	margin-right: auto;
	margin-left: auto;
}
#containe_290 {
	width: 290px;
	margin-right: auto;
	margin-left: auto;
}

#containe_100 {
	width: 292px;
	margin-right: auto;
	margin-left: auto;
}

.contentboxstyle01 {
	border-top-width: 1px;
	border-top-style: solid;
	padding: 10px;
}

.formstyle01 li{
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 18px;
}
.tablehead01 li {
	float: left;
	width: 17%;
	display: inline;
	text-align: center;
	line-height: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 2px;
	border-top-style: solid;
	font-weight: bold;
}

.tablehead02 li {
	float: left;
	width: 25%;
	display: inline;
	text-align: center;
	line-height: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 2px;
	border-top-style: solid;
	font-weight: bold;
}


.tablehead01 li.icon {
	width: 15%;
}
.tablehead01 li span ,.tablehead02 li span{
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	display: block;
}
.tablebox01 li span a {
	font-weight: bold;
}

.tablebox01 .rows01 li ,.tablebox01 .rows02 li{
	float: left;
	width: 17%;
	text-align: center;
	line-height: 14px;
	height: 28px;
	margin-top: 14px;
}
.tablebox02 .rows01 li, .tablebox02 .rows02 li {
	float: left;
	width: 25%;
	text-align: center;
	line-height: 14px;
	height: 28px;
	margin-top: 14px;
}
.tablebox02 .rows01 li span, .tablebox02 .rows02 li span {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	display: block;
}


.tablebox01 .rows01 li.icon ,.tablebox01 .rows02 li.icon{
	width: 15%;
}
.listbox01 {
	height: 80px;
	width: 100%;
	margin-top: 16px;
}
.listbox01 .imgbox02a {
	height: 70px;
	width: 80px;
	padding: 5px;
}
.listbox01 .mainbox01 {
	width: 187px;
	overflow: hidden;
	height: 80px;
	padding-right: 5px;
	padding-left: 5px;
}
.detail_titlie {
	padding-bottom: 10px;
}
.detai_text p {
	text-indent: 2em;
	line-height: 18px;
}
.p_title li {
	float: left;
}
.p_title li span {
	line-height: 40px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
}
.detection_top {
	height: 80px;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.detection_top .detection_box {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
.detection_top .detection_button {
	height: 106px;
	width: 107px;
	position: relative;
	top: -66px;
}
.detection_top .detection_text {
	line-height: 34px;
	width: 190px;
	margin-top: 30px;
	margin-left: 20px;
	padding-left: 90px;
	background-repeat: repeat-y;
	background-position: right;
}