* {
	margin: 0px;
	padding: 0px;
	color: #3b3b3b;
	font-size: 12px;
}
a {
	text-decoration: none;
}
a img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.clear {
	clear: both;
	height: 0px;
	overflow: hidden;
}
.float {
	float: left;
}
.text_01 {
	line-height: 20px;
	text-align: center;
}
.text_01 span {
	font-weight: bold;
}
.imgbox01 {
	padding-top: 16px;
}
.imgbox01 img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#mainbox1 ,#mainbox2,#mainbox3,#mainbox4{
	margin-right: auto;
	margin-left: auto;
	/* [disabled]background-color: #3CC; */
	width: 286px;
}
.boxstyle01 {
	background-image: url(../mimages/icon_01.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 6px;
	width: 86px;
	text-align: right;
	float: left;
	line-height: 54px;
}


.boxstyle02 {
	float: left;
	padding-left: 10px;
}
.boxstyle02 li {
	list-style-type: none;
	line-height: 18px;
}
.w108 {
	width: 108px;
}
.w10 {
	width: 10px;
}
.h8 {
	height: 8px;
}



#wrap {
	width: 100%;
	background-color: #efefef;
}
#wrap #pagename {
	font-weight: bold;
	color: #333;
	background-image: url(../mimages/pagemane_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 16px;
	line-height: 36px;
	font-family: "黑体";
	text-align: center;
	padding-top: 10px;
}
#wrap #datebox_01 {
	background-color: #FFF;
	padding-top: 8px;
	/* [disabled]padding-right: 14px; */
	padding-bottom: 8px;
	/* [disabled]padding-left: 14px; */
}
#wrap #datebox_01 ul {
	display: block;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F93;
}

#wrap #datebox_01 ul li {
	float: left;
	list-style-type: none;
	line-height: 19px;
}
#wrap #datebox_01 ul li .w108 {
	background-image: url(../mimages/date_icon.jpg);
	background-position: right center;
	background-repeat: no-repeat;
	height: 19px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}


#wrap #main_wrap {
	/* [disabled]background-color: #3CF; */
	padding: 14px;
	min-height:252px;
	_height:252px;
	
}
